<extend name="Base:base" />
<block name="main" >
<style>
	#distpicker select{
		background: transparent;
		width: 200px;
		padding: 5px;
		font-size: 16px;
		border: 1px solid #ccc;
		height: 34px;
		margin-bottom: 10px; 
	}

	#distpicker input{
		background: transparent;
		width: 200px;
		padding: 5px;
		font-size: 16px;
		border: 1px solid #ccc;
		height: 34px;
		margin-bottom: 10px; 
	}

	#distpicker button{
		border: 1px solid #ccc;
		color: white;
		background: black;
		width: 200px;
		margin: 0 auto;
	}
</style>
<main role="main" class="">
			<div class="wrapper">    
				<nav class="breadcrumbs">
					<ul>
	<li>
	
	
	
		<a href="__APP__/Home/Index/index">HM.COM</a>
	</li>

	<li class="">

			<a href="" onclick="return false;"> 结账</a>
				</li>
	<li class="active">

			<a href="" onclick="return false;"> 结账</a>
				</li>
	</ul>
</nav>
				<header class="checkout-header">
	<h1>结账</h1>
	<ul class="checkout-breadcrumbs items-4 clearfix">
	<li class="item">1. 登录</li>
	<li class="item item-current">2. 发货 &amp; 支付</li>
	<li class="item">3. 确认订单</li>
	<li class="item item-last">4. 非常感谢</li>
	</ul></header>
<div class="responsive status-message  expandable common-expandable is-open notice ng-hide" ng-show="&#39;&#39;">
	<div class="message icon icon-exclamation"></div>
	<button class="close icon-close-white hidden-text">Close</button>
</div>

<div class="input-fields-info has-border">请注意：地址栏请用中文填写</div>
<div class="layout ng-scope" ng-controller="CheckoutContextController">	
			<div class="responsive status-message is-open notice ng-hide" ng-show="getContext().voucherRemoved">
				<div class="message icon icon-exclamation">
					The reward has been removed from your shopping bag.</div>
			</div>
	<div class="row">
		<div class="grid col-8">





			<section id="checkoutDeliveryPartDiv" class="box checkout-section checkout-delivery-section responsive" ng-class="{'box-inactive': getContext().closeDeliverySection}">
		<header class="box-headline checkout-delivery-section-header">
			<h1 class="heading">快递</h1>
		</header>
		<div id="checkoutDeliveryPartForm" name="checkoutDeliveryPartForm" class="box-content ng-dirty ng-invalid ng-invalid-required ng-valid-maxlength">
			<fieldset class="delivery-preferences">	
				<legend class="sub-sub-heading">选择您的首选运送方式</legend>
				<p class="text">阅读我们的&nbsp;
				<a href="/zh_cn/customer-service/shipping-and-delivery.html" class="underline overlay-trigger">发货信息</a></p>	
					<!-- ngRepeat: deliveryMode in getContext().deliveryModeList --><fieldset ng-repeat="deliveryMode in getContext().deliveryModeList" id="delivery-address-0" class="delivery-option check-option js-check-option ng-scope checked single-option" ng-class="{'checked' : newDeliveryAddress.deliveryMode == deliveryMode.code,
										  'check-option-disabled' : deliveryMode.paymentNotAvailable,
										  'delivery-option-timeslot-home' : deliveryMode.timeSlotInterval != null &amp;&amp; deliveryMode.timeSlotInterval.length > 0,
										  'single-option' : deliverySingleOption}">		  
						<label for="deliveryMode-0" class="check-option-label delivery-option-label">
							<input type="radio" ng-value="deliveryMode.code" class="js-update-on-change delivery-option-radio js-check-option-input ng-pristine ng-untouched ng-valid" id="deliveryMode-0" ng-model="newDeliveryAddress.deliveryMode" ng-disabled="isDisabledActions() || !deliveryMode.active" ng-change="setDeliveryMode(deliveryMode)" name="13" value="home-delivery-CN">
							<strong class="delivery-option-type check-option-label-text-primary ng-binding">送货上门/备用地址</strong>
							<span class="delivery-option-expedience check-option-label-text-secondary ng-binding">标准 2-7 个工作日</span>	
							<strong ng-hide="( deliveryMode.supportHazmat || (newDeliveryAddress.blackListed &amp;&amp; newDeliveryAddress.deliveryMode == deliveryMode.code) ) || ((deliveryMode.addressBlackListed || !deliveryMode.pssEnable) &amp;&amp; !deliveryMode.paymentNotAvailable)" class="icon-warning check-option-warning ng-hide" title="运送方式如带有此标志，表示您订单中的部分单品将被排除在外。"></strong>					
						</label>	
						<div class="delivery-option-details check-option-details" ng-switch="" on="deliveryMode.type">	
							<div class="responsive status-message is-open thin  ng-hide" data-background-color="middle-grey" ng-show="deliveryMode.onlineServicePackageInfo!=null">
								













<div class="message icon icon-info ng-binding">
	  
</div></div>
							<!-- ngIf: deliveryMode.type == 'address' --><p ng-if-start="deliveryMode.type == 'address'" class="ng-scope"></p>
							





<!-- ngIf: deliveryMode.pssEnable && deliveryMode.fastDelivery && !(deliveryMode.tommorrowHoliday || deliveryMode.warehouseCutoffTimePassed) && !deliveryMode.warehouseLimitReached -->
<!-- ngIf: deliveryMode.pssEnable && deliveryMode.fastDelivery && !(deliveryMode.tommorrowHoliday || deliveryMode.warehouseCutoffTimePassed) && deliveryMode.warehouseLimitReached -->
<!-- ngIf: deliveryMode.pssEnable && deliveryMode.fastDelivery && (deliveryMode.tommorrowHoliday || deliveryMode.warehouseCutoffTimePassed) -->
<p class="ng-binding ng-scope"></p>	
							<!-- ngIf: !deliveryMode.fastDelivery --><p class="text ng-scope" ng-if="!deliveryMode.fastDelivery">您的包裹将被送至居住地址。</p><!-- end ngIf: !deliveryMode.fastDelivery -->	
							<div style="margin-top: 10px;" ng-show="getContext().deliveryModeForced" class="ng-scope ng-hide">The payment method you’ve chosen&nbsp;requires your package to be delivered to&nbsp;your home address. In order to change&nbsp;delivery address, change payment to card.</div>

<fieldset>	
	<legend class="sub-sub-heading">更换地址</legend>
	<p class="text">选择现有地址，或添加新地址。</p>
	<p class="text">您可在<a href="__APP__/Home/User/account"> 我的H&amp;M </a>中编辑地址</p>
	<h3>使用现有地址</h3>
	<ul class="choose-delivery-address">
	<if condition="$addr eq 'empty'">
		<li>暂无地址，请按下方按钮添加</li>
	<else />
		<foreach name="$addr" item="ov">
			<li class="item js-check-option check-option delivery-option ng-scope">
				<label for="delivery-address-{$ov.id}" class="delivery-option-label">
					<input type="radio" name="addrid" id="delivery-address-{$ov.id}" class="js-update-on-change delivery-option-radio js-check-option-input ng-pristine ng-untouched ng-valid" 
						<if condition="$ov.status eq 1">checked
						</if>

					 value="{$ov.id}">
					<span class="vcard read-only-delivery-address">
						<span class="item fn ng-binding" itemprop="name">{$ov.recname}</span>
						<span class="adr ng-binding" ng-bind-html="address.formattedAddress">{$ov.addr}<br>{$ov.zip}<br>{$ov.phone}</span>
					</span>
				</label>
			</li>
		</foreach>
	</if>
	
	</ul>
	<button class="button secondary newAddr-btn">新建地址</button>
</fieldset><p ng-if-end="" class="ng-scope"></p><!-- end ngIf: deliveryMode.type == 'address' -->	
						<!-- ngSwitchWhen: places -->				
						 <!-- ngSwitchWhen: timeSlot -->
					</div>	
					













<!-- ngIf: ((!getContext().deliveryAddress.supportHazmat && !(deliveryMode.code).indexOf('pickup-in-place') > -1) || !deliveryMode.supportHazmat) && !deliveryMode.addressBlackListed && !openChangeAddress && getContext().hasHazmat -->
<!-- ngIf: !deliveryMode.supportCOD -->				
<!-- ngIf: deliveryMode.addressBlackListed && !deliveryMode.paymentNotAvailable -->
<!-- ngIf: deliveryMode.paymentNotAvailable -->
<!-- ngIf: !deliveryMode.pssEnable && !deliveryMode.pssNoResponse -->
<!-- ngIf: deliveryMode.pssNoResponse -->	</fieldset><!-- end ngRepeat: deliveryMode in getContext().deliveryModeList -->
			</fieldset>
			<fieldset class="delivery-telephone" style="margin-bottom: 0px">
	<span ng-hide="!getContext().deliveryMode.phoneNumberMandatory" class="">
		<h3>发货通知</h3>
				承运人需要了解该信息，以便就送货事宜联系您。</span>			
</fieldset>
</div>


</section>

<div class="checkout-place-order-section">
	<div id="placeOrderFormId" class="ng-pristine ng-valid">
	
		<input id="placeorderbutton" class="button-big place-order-button" value="立即支付" data-not-added-text="" data-validation-text="付款未完成。请再次检查您的信息。" type="submit">
		
		<div class="checkout-encryption-info">所有的数据将被编码</div>
		<p class="fine-print">请您付款以便完成购物流程。</p>

		<!-- CR 18208 Add Loader End for other markets-->
				<div id="desktopPaymentConfirmationLoader" class="payment-loader js-payment-loader" aria-hidden="true" style="display: none;">
				<div class="payment-loader-wrapper">
					<div class="payment-loader-container">
						<span class="loader"></span>
						<h2 class="title"> 我们正在处理您的付款</h2>
						<p class="text"> 这可能会花费一点时间，请耐心等候。请勿关闭窗口或点击后退键</p>
					</div>
				</div>
				</div>
		  <!-- CR 18208 Add Loader Key End desktop-->

	</div>
</div>
</div>





<div class="grid col-4">
	<div class="box checkout-order" id="checkoutOrderPartDiv">
		<h2 class="box-headline">
			您的订单</h2>
		<ul class="checkout-order-items">
		<foreach name="$data.cartList" item="ov">
			<li class="checkout-order-item ng-scope" id="{$ov.gid}">
	<img alt="{$ov.name}" title="{$ov.name}" class="checkout-order-item-image" src="{$ov.pic}">

<div class="checkout-order-item-product-info">
		<div class="product-item-headline ng-binding">{$ov.name}</div>
		<div class="product-item-price" ng-class="{&#39;product-item-price-discount&#39;: entry.strikedPrice}">
<span ng-if="!entry.strikedPrice" class="ng-scope">
				<span id="main_price_0401021001" class="main_price ng-binding">
					¥{$ov.price}
				</span>
				<small id="white_price_0401021001"></small>
			</span><!-- end ngIf: !entry.strikedPrice -->
		</div> 
		
	<dl class="checkout-order-item-product-details">
		<dt>数量：</dt>
		<dd class="ng-binding">{$ov.gnum}</dd>
		<dt>颜色：</dt>
		<dd class="ng-binding">{$ov.color}</dd>
		<dt>尺码：</dt>
		<dd class="ng-binding">{$ov.size}</dd>
	</dl>
	
	<div class="shopping-bag-item-total-price product-item-price">
		总价：&nbsp;
		
<span ng-if="entry.totalPrice !== 0" class="ng-binding ng-scope">
			¥{$ov.gnum * $ov.price}
		</span>
		
	</div>
</div>
</li>
</foreach>
		</ul>
		<div class="box-content">
			<table class="order-total">
	<tbody>
		<tr>
			<th scope="row">订单价值：</th>
			<td><span id="newPriceSubtotal" class="ng-binding">¥{$ov.totalPrice}</span></td>
		</tr>		
	</tbody>
	<tfoot>
		<tr>
			<th scope="row">总价:</th>
			<td id="total_price_of_basket" class="ng-binding">
				¥{$ov.totalPrice}
		    	</td>
		   </tr>
		 </tfoot>
</table>
			<p class="fine-print">
					您可以取消订单，前提是您希望退回的商品在不迟于您收到订单商品后的30天内送达给我们。您可在此找到退换货政策全文&nbsp;
					<a class="overlay-trigger underline" href="https://www2.hm.com/zh_cn/customer-service/return-link.html" onclick="returnRefundTealiumCheckout();">退货和退款</a>
				</p>
			</div>
		<script type="text/javascript">
				 function returnRefundTealiumCheckout(){				
						 if(typeof(utag) !== 'undefined'){ 			
							utagTrackEventPayment("view_return_refund_info_giftcard", "View info about return and refund  policies" , "Gift card" , "");
							} 
					  } 
		</script>
	</div>
	



    
    
<!-- Only Content -->
<!--AEMPUBPRDAP14-->
<div class="parsys main"><section class="legaltext parbase section">
<h1 class="sub-sub-heading">退货和退款</h1>
<p class="text">如果要退货，请自行安排快递并承担快递费用。<a href="https://www2.hm.com/zh_cn/customer-service/return-link.html" class="underline overlay-trigger" adhocenable="false">在此处</a>了解更多有关退货和退款的信息。<br>
您的发票将会在您提出要求后，为您提供。在&nbsp;<a href="https://www2.hm.com/zh_cn/customer-service/fapiao.html" class="underline overlay-trigger" adhocenable="false">这里</a>&nbsp;了解更多有关发票的信息<a adhocenable="false" href="https://www2.hm.com/zh_cn/customer-service/return-link.html#main_reference_7bd8" class="underline overlay-trigger" target="_blank"></a></p>	</section>

</div>

<!-- /Only Content -->

</div>
</div>

<div aria-hidden="true" id="generic-error-popup" class="hidden modal-content">
	<div class="modal-text">
		<h1 class="heading">出错了</h1>
		<p style="text-align:center">该表格不能提交。请检查您的信息</p>
		<div class="sticky button-group">
			<button ng-click="closePopup()" class="modalclose button">确定</button>
		</div>
	</div>
</div>






<div id="voucher-modal" class="hidden modal-content">
	<div class="modal-text">
		<h1 class="heading">H&amp;M CLUB REWARDS</h1>
		<div class="info-message">
			<span class="icon icon-info"></span>
			<p class="text">Please note that discount codes will not be applied if a voucher is added.</p>
		</div>
		<p class="club-points">H&amp;M Club Points: <strong class="points ng-binding"></strong></p>
		<p class="club-points-text">You can spend your points on one of the following vouchers</p>
		<p class="sub-sub-heading">H&amp;M CLUB REWARDS</p>	
		<div class="selectables-overflow voucher-list">
			<ul class="selectable-items">
				<!-- ngRepeat: onlineVoucher in getContext().onlineVoucherList -->
				<li ng-hide="getContext().onlineVoucherList.length"> 
					<p class="text">There are currently no rewards to display.</p> 
				</li>
				<li ng-show="getContext().onlineVoucherList.length &amp;&amp; !getContext().onlineVoucherAvalaible" class="ng-hide"> 
					<p class="text">At the moment, you do not have enough Club Points to use on Rewards. Don’t worry though! The more you shop, the more points you get. Explore all the H&amp;M Club Rewards on the H&amp;M Club Page.</p> 
				</li>
			</ul>
		</div>
	</div>

</div>

<div class="hidden modal-content" id="voucher-error-popup">
	<div class="modal-text">
		<div class="shopping-bag-message">
			<h1 class="heading ng-binding"></h1>
			<p ng-bind-html="getContext().popupMessage" class="ng-binding"></p>
		</div>	
	</div>
</div>

<input id="cybersourceStatus" type="hidden" value="">
<input id="cybersourceReasonCode" type="hidden" value="">
<input id="cart-not-modified" class="hidden" value="true">
<style>
      .checkout-address-text{
            word-wrap: break-word;
      };
</style></div>
		</main>
<div id="zzc" style="display: none;width: 100%;height: 100%;position: fixed;top: 0px;left: 0px;z-index: 9999;background: rgba(0,0,0,0.5);">
	<div style="margin-top: 100px;">
		<div style="width: 239px;background: white;border: 2px solid black;padding: 20px;position: absolute;left: 50%;margin-left: -120px;">
			<h2>添加地址</h2>
			<div id="distpicker" style="font-size: 16px">
				<div>
					省份:<select data-am-selected name="province"></select>
				</div>
				<div>
					城市:<select data-am-selected name="town"></select>
				</div>
				<div>
					区　:<select data-am-selected name="district"></select>
				</div>
				<div>
					地址:<input type="text" name="addr" placeholder="请输入地址">
				</div>
				<div>
					姓名:<input type="text" name="recname" placeholder="请输入收件人">
				</div>
				<div>
					电话:<input type="text" name="phone" placeholder="请输入电话号码">
				</div>
				<div>
					邮编:<input type="text" name="code" placeholder="请输入邮编">
				</div>
				<div style="width: 200px;margin: 0 auto">
					<button id="ad-btn">添加</button>
					<span style="color: red"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/Backstage/js/distpicker.data.js"></script>
<script src="__PUBLIC__/Backstage/js/distpicker.js"></script>
<script src="__PUBLIC__/Backstage/js/main.js"></script>
<script>
	$("#distpicker").distpicker({
  		autoSelect: false
	});

	$(".newAddr-btn").click(function () {
		$("#zzc").css('display', 'block');

		return false;
	});

	$("#zzc div div").click(function (event) {
		event.stopPropagation();
	});

	$("#zzc").click(function () {
		$('#zzc').css('display', 'none');
		$('#ad-btn').siblings().remove();
	});

	$('#ad-btn').click(function () {
		var that = $(this);

		var flag = true;

		var district = $("select[name='district']");
		var province = $("select[name='province']");

		if (province.val() == '') {
			$(this).siblings().remove();
			$(this).after('<span style="color: red">请选择省份</span>');
			flag = false;
		}

		var town = $("select[name='town']");

		if (town.val() == '') {
			$(this).siblings().remove();
			$(this).after('<span style="color: red">请选择城市</span>');
			flag = false;
		}

		var addr = $("input[name='addr']");

		if (addr.val() == '') {
			$(this).siblings().remove();
			$(this).after('<span style="color: red">请填写你的地址</span>');
			flag = false;
		}

		if (addr.val().length > 50) {
			$(this).siblings().remove();
			$(this).after('<span style="color: red">地址太长了~(>_<)~</span>');
			flag = false;
		}

		var recname = $("input[name='recname']")

		if (recname.val().length > 20) {
			$(this).siblings().remove();
			$(this).after('<span style="color: red">名字太长了~(>_<)~</span>');
			flag = false;
		}

		if (recname.val() == '') {
			$(this).siblings().remove();
			$(this).after('<span style="color: red">请填写你的姓名</span>');
			flag = false;
		}

		var phone = $("input[name='phone']");

		var reg = /^1[34578]\d{9}$/;
		if (!reg.test(phone.val())) {
			$(this).siblings().remove();
			$(this).after('<span style="color: red">请填写正确的电话号码</span>');
			flag = false;
		}

		var code = $("input[name='code']")

		var reg = /^\d{6}$/;
		if (!reg.test(code.val())) {
			$(this).siblings().remove();
			$(this).after('<span style="color: red">请填写正确的邮编</span>');
			flag = false;
		}

		if (flag) {
			$(this).attr('disabled', true);
			$(this).css("background", '#ccc');

			$.post(
				'__APP__/Home/order/addAddress',
				{
					recname:recname.val(),
					province:province.val(),
					town:town.val(),
					district:district.val(),
					addr:addr.val(),
					phone:phone.val(),
					code:code.val()
				},
				function (data) {
					if (res == 2) {
						that.attr('disabled', false);
						that.css('background', 'black');
						that.siblings().remove();
						that.after('<span style="color: red">系统繁忙，请稍后再试</span>');
					} else {
						that.attr('disabled', false);
						that.css('background', 'black');
						that.siblings().remove();
						$('#zzc').css('display', 'none');
						$('.choose-delivery-address').child().remove();
						$('.choose-delivery-address').append(data);
					}
				},
				'json'
			);
		}
	});

	// 确认付款操作
	$('#placeorderbutton').click(function () {
		if ($('input[name="addrid"]').val() == undefined) {
			$(this).prev().remove();
			$(this).before('<span class="input-info invalid button-validation-message">请检查您的地址信息。</span>');

			return false;
		}

		$(this).prev().remove();

		$('#desktopPaymentConfirmationLoader').css('display', 'block');

		$.post(
			'__APP__/Home/Order/queryOrder',
			{
				addrid:$('input[name="addrid"]').val()
			},
			function (data) {
				if (data == 2) {
					$('#desktopPaymentConfirmationLoader').child().child().child().remove();
					$('#desktopPaymentConfirmationLoader').child().child().append('<p class="text"> 系统繁忙，请刷新页面重新提交</p>');
				}
			},
			'json'
		);
	});
</script>


</block>