 <extend name="Base:base" />

 <block name="title">
 <foreach name="OneList" item="vo">
     <if condition="$pid eq $vo['id']">
     <title>{$vo.name}</title>
     </if>
 </foreach>
 </block>


 <block name="main">
     <main role="main" class="responsive segments"><!-- Main -->

         <div class="wrapper">

         <div class="product parbase">



 <!--PAGE:productDetail -->
 <div class="catalogwarning parbase">

 </div>










         <div class="row product-detail">
             <div class="images parbase">


 <section class="product-detail-images grid col-6 clearfix">
     <button class="product-detail-thumbnails-scroll-up disabled">
          <div class="navigation-arrow-up"></div>
      </button>
      <div class="product-detail-thumbnails">
    <!-- 小图 -->
        <ul><li class="product-detail-thumbnail current"><img alt="" src="" class="product-detail-thumbnail-image" title=""></li><li class="product-detail-thumbnail"><img alt="" src="" class="product-detail-thumbnail-image" title=""></li><li class="product-detail-thumbnail"><img alt="" src="" class="product-detail-thumbnail-image" title=""></li></ul>
      </div>
      <button class="product-detail-thumbnails-scroll-down disabled">
          <div class="navigation-arrow-down"></div>
     </button>
     <div class="product-detail-main-image">








          <div class="product-detail-main-image-container">
    <!-- 大图 -->

            <img width="384" height="576" alt="" class="product-detail-main-image-image" src="" title="">




        </div>

            <span class="product-detail-zoom-info">Click image to zoom</span>
            <span class="product-detail-zoom-info touch-info">全屏</span>
            <!-- <a href="#" class="product-detail-full-screen-image-link hidden-text">全屏</a> -->

    </div>
</section>
</div>

            <section class="product-detail-meta grid col-6" data-productcode="0481148">
                <div class="product-detail-options">

                <h1 class="product-item-headline">
                    缩褶连衣裙
                </h1>
                <div class="price parbase">

            <div class="product-item-price">
                <span class="price-value">¥199.00</span>
            </div>

</div>

                <div class="product-item-selection">新品</div>
                <div id="swatchsize">
                    <div class="product-colors clearfix loaded">
                        <div class="product-input-label" data-value="">颜色: <span>白色</span></div>
                        <ul class="inputlist clearfix">



                                <li>

                                    <a href="" title="白色" data-articlecode="0481148009" data-sizes="" class="filter-option active">
                                      <img class="pattern" src="" alt="" title="">
                                    </a>

                                </li>



                        </ul>
                    </div>
                    <div class="product-sizes loaded">
                        <div class="product-input-label" data-value="选择尺码">尺码: <span>选择尺码</span></div>
                            <ul class="inputlist clearfix" data-sizelist="0481148009" style="display: block;">

                                      <li>
                                        <label>
                                            <input type="radio" name="product-size" value="32 (155|76A)" data-code="0481148009001" data-size="001">

                                            <div class="detailbox detailbox-value detailbox-flexible "><span>32 (155|76A)</span></div>

                                          </label>
                                      </li>
                              </ul>


                          <div class="product-detail-linked-product">


                             <a href="/zh_cn/productpage/_jcr_content/product.sizeguide.0481148009.html" class="underline overlay-trigger">尺码指南</a>
                         </div>
                     </div>
                 </div>
                 </div>
                 <div class="product-detail-details">
                     <div class="product-detail-availability">





                                 送货时间:2-7个工作日


                      </div>
                      <button class="button button-big button-buy product-details-favorite button-disabled" data-not-added-text="您必须选择一个可用的尺码" data-added-text="已添加商品" data-shopping-bag-text="购物袋" data-shopping-bag-failed-text="将商品添加到购物袋时出错" data-quantity-text="数量" data-color-text="颜色" data-size-text="尺码" data-default-quantity="1" data-sold-out-text="已售完" data-not-added-sold-out-text="该颜色的所有尺码已售完">添加到购物袋</button>

                        <div class="button-sold-out-warning" style="top: 316px;display:none"></div>
                         <button  class="button button-big button-secondary button-favorite icon icon-favorites-dark js-button-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>


                      <div class="parbase details">

  <div class="product-detail-tabs tabs">
      <ul class="tab-items">
          <li class="tab-item">
            <a href="javascript:;" class="tab-item-link active" data-target="tab-description">描述</a>
          </li>
          <li class="tab-item">
            <a href="javascript:;" class="tab-item-link" data-target="tab-details">细节</a>
          </li>
          <li class="tab-item">
            <a href="javascript:;" class="tab-item-link" data-target="tab-share">分享</a>
          </li>


        <li class="tab-item">
            <a href="javascript:;" class="tab-item-link" data-target="tab-delivery">送货</a>
        </li>

      </ul>
      <div class="tab-pane tab-description active">


         <p class="product-detail-description-text" itemprop="description">粘纤绉织露肩连衣短裙，上部及短袖缩褶设计，腰部有接缝，微喇裙摆配衬里。</p>



         <ul class="product-warninglist" data-headline-text="警告!">

          </ul>
      </div>

      <div class="tab-pane tab-details">
          <div class="article-concept">


             <h4>护理说明</h4>
             <ul><li>30°机洗</li></ul>

         </div>














         <h4>商品号</h4>
          <ul>
              <li class="product-detail-article-code">0481148009</li>
          </ul>

      </div>

      <div class="tab-pane tab-share">








             <p id="weibo-share" class="share-item">
                 <wb:share-button addition="number" type="button"><iframe src="http://service.weibo.com/staticjs/weibosharev2.html?url=http%3A%2F%2Fwww2.hm.com%2Fzh_cn%2Fproductpage.0481148009.html&amp;type=button&amp;language=zh_cn&amp;searchPic=true&amp;style=number" width="128" height="25" frameborder="0" scrolling="no" marginheight="0"></iframe></wb:share-button>
             </p>


              <p id="renren-share" class="share-item">
                  <a name="xn_share" type="button_medium" href="javascript:;"><span class="xn_share_wrapper xn_share_button_medium"></span></a>
              </p>
    </div>

    <div class="tab-pane tab-delivery">





                <p>送货: 商品可送至位于中国大陆的居住地址或其他地址，具体根据您所选择的收货方式而定。很抱歉，我们无法将商品送至香港、澳门或台湾。付款: 我们接受 MasterCard 卡或 Visa 卡付款，亦接受支付宝、银行转账、中国银联在线付款或电话付款，还可接受 H&amp;M 礼品卡付款。</p>
      </div>


</div></div>
                </div>
            </section>
        </div>

</div>

<script>



    $('.tab-item-link').click(function() {

        $(this).addClass('active').parent().siblings().children().removeClass('active');


        $('.'+$(this).attr('data-target')).addClass('active').siblings().removeClass('active');

    });


</script>


      </main>
 </block>
