 <extend name="Base:base" />

 <block name="title">
 <foreach name="OneList" item="vo">
     <if condition="$pid eq $vo['id']">
     <title>{$vo.name}</title>
     </if>
 </foreach>
 </block>


 <block name="main">
     <main role="main" class="responsive segments"><!-- Main -->

         <div class="wrapper">

         <div class="product parbase">



 <!--PAGE:productDetail -->
 <div class="catalogwarning parbase">

 </div>










         <div class="row product-detail">
             <div class="images parbase">


 <section class="product-detail-images grid col-6 clearfix">
     <button class="product-detail-thumbnails-scroll-up disabled">
          <div class="navigation-arrow-up"></div>
      </button>
      <div class="product-detail-thumbnails">
    <!-- 小图 -->
        <ul>
        <foreach name="goodsDeatil['pic']" item="vp">
        <li class="product-detail-thumbnail"><img alt="" src="__PUBLIC__/{$vp.pic}" class="product-detail-thumbnail-image" title=""></li>
        </foreach>
        </ul>
      </div>
      <button class="product-detail-thumbnails-scroll-down disabled">
          <div class="navigation-arrow-down"></div>
     </button>
     <div class="product-detail-main-image">








          <div class="product-detail-main-image-container">
    <!-- 大图 -->

            <img width="384" height="576" alt="" class="product-detail-main-image-image" src="__PUBLIC__/{$goodsDeatil['pic'][0].pic}" title="">




        </div>

            <span class="product-detail-zoom-info">Click image to zoom</span>
            <span class="product-detail-zoom-info touch-info">全屏</span>
            <!-- <a href="#" class="product-detail-full-screen-image-link hidden-text">全屏</a> -->

    </div>
</section>
</div>

            <section class="product-detail-meta grid col-6" data-productcode="0481148">
                <div class="product-detail-options">

                <h1 class="product-item-headline">
                    {$goodsDeatil.name}
                </h1>
                <div class="price parbase">

            <div class="product-item-price">
                <span class="price-value">¥{$goodsDeatil.price}</span>
            </div>

</div>

                <div class="product-item-selection">新品</div>
                <div id="swatchsize">
                    <div class="product-colors clearfix loaded">
                        <div class="product-input-label" data-value="">颜色: <span></span></div>
                        <ul class="inputlist clearfix">


                        <foreach name="goodsDeatil['color']" item="v">
                                <li>

                                    <a href="javascript:;" title="{$v.attrname}" data-articlecode="0481148009" data-sizes="" class="filter-option" style="background:{$v.attrname}">
                                      <!-- <img class="pattern" src="" alt="" title=""> -->

                                    </a>

                                </li>

                        </foreach>

                        </ul>
                    </div>
                    <div class="product-sizes loaded">
                        <div class="product-input-label" data-value="选择尺码">尺码: <span>选择尺码</span></div>
                            <ul class="inputlist clearfix" data-sizelist="0481148009" style="display: block;">
                            <foreach name="goodsDeatil['size']" item="v">
                                      <li>
                                        <label>
                                            <input type="radio" name="product-size" value="{$v.attrname}" data-code="0481148009001" data-size="001">

                                            <div class="detailbox detailbox-value detailbox-flexible "><span>{$v.attrname}</span></div>

                                          </label>
                                      </li>
                              </foreach>
                              </ul>


                          <div class="product-detail-linked-product">


                             <a href="/zh_cn/productpage/_jcr_content/product.sizeguide.0481148009.html" class="underline overlay-trigger">尺码指南</a>
                         </div>
                     </div>
                 </div>
                 </div>
                 <div class="product-detail-details">
                     <div class="product-detail-availability">





                                 送货时间:2-7个工作日


                      </div>
                      <button class="button button-big button-buy product-details-favorite button-disabled" data-not-added-text="您必须选择一个可用的尺码" data-added-text="已添加商品" data-shopping-bag-text="购物袋" data-shopping-bag-failed-text="将商品添加到购物袋时出错" data-quantity-text="数量" data-color-text="颜色" data-size-text="尺码" data-default-quantity="1" data-sold-out-text="已售完" data-not-added-sold-out-text="该颜色的所有尺码已售完" data-gid="{$goodsDeatil.id}">添加到购物袋</button>

                        <div class="button-sold-out-warning" style="top: 316px;display:none"></div>
                         <button  class="button button-big button-secondary button-favorite icon icon-favorites-dark js-button-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>


                      <div class="parbase details">

  <div class="product-detail-tabs tabs">
      <ul class="tab-items">
          <li class="tab-item">
            <a href="javascript:;" class="tab-item-link active" data-target="tab-description">描述</a>
          </li>
          <li class="tab-item">
            <a href="javascript:;" class="tab-item-link" data-target="tab-details">细节</a>
          </li>
          <li class="tab-item">
            <a href="javascript:;" class="tab-item-link" data-target="tab-share">分享</a>
          </li>


        <li class="tab-item">
            <a href="javascript:;" class="tab-item-link" data-target="tab-delivery">送货</a>
        </li>

      </ul>
      <div class="tab-pane tab-description active">


         <p class="product-detail-description-text" itemprop="description">{$goodsDeatil.des}。</p>



         <ul class="product-warninglist" data-headline-text="警告!">

          </ul>
      </div>

      <div class="tab-pane tab-details">
          <div class="article-concept">

          {$goodsDeatil['detail'].detail}
<!--              <h4>护理说明</h4>
             <ul><li>30°机洗</li></ul> -->

         </div>












<!--

         <h4>商品号</h4>
          <ul>
              <li class="product-detail-article-code">0481148009</li>
          </ul> -->

      </div>

      <div class="tab-pane tab-share">








             <p id="weibo-share" class="share-item">
                 <wb:share-button addition="number" type="button"><iframe src="http://service.weibo.com/staticjs/weibosharev2.html?url=http%3A%2F%2Fwww2.hm.com%2Fzh_cn%2Fproductpage.0481148009.html&amp;type=button&amp;language=zh_cn&amp;searchPic=true&amp;style=number" width="128" height="25" frameborder="0" scrolling="no" marginheight="0"></iframe></wb:share-button>
             </p>


              <p id="renren-share" class="share-item">
                  <a name="xn_share" type="button_medium" href="javascript:;"><span class="xn_share_wrapper xn_share_button_medium"></span></a>
              </p>
    </div>

    <div class="tab-pane tab-delivery">





                <p>送货: 商品可送至位于中国大陆的居住地址或其他地址，具体根据您所选择的收货方式而定。很抱歉，我们无法将商品送至香港、澳门或台湾。付款: 我们接受 MasterCard 卡或 Visa 卡付款，亦接受支付宝、银行转账、中国银联在线付款或电话付款，还可接受 H&amp;M 礼品卡付款。</p>
      </div>


</div></div>
                </div>
            </section>
        </div>

</div>

<script>

    //默认选择filter-option
    // 给默认值/颜色/按钮
    $('.filter-option:first').addClass('active');
    $('.filter-option:first').parent().parent().prev('div').children().html( $('.filter-option:first').attr('title') );
    $('.filter-option:first').parent().parent().prev('div').attr('data-value', $('.filter-option:first').attr('title'));
    $('.button-buy').attr('data-color', $('.filter-option:first').attr('title'));

    //点击换颜色
    $('.filter-option').on('click', function() {

      var url = '__CONTROLLER__/colorPics';

      $(this).addClass('active').parent().siblings().children().removeClass('active');

      $(this).parent().parent().prev('div').children().html($(this).attr('title'));

      $(this).parent().parent().prev('div').attr('data-value', $(this).attr('title'));

      //为购物车按钮添加颜色属性
      $('.button-buy').attr('data-color', $(this).attr('title'));

      //根据点击的值查询对应图片和size
      $.post(url, {aid:$(this).attr('title'),gid:{$goodsDeatil['id']}}, function(data) {

        var bigPic = '';
        var res = '<ul>';

        for (var i=0; i<data.length; i++) {

          res += '<li class="product-detail-thumbnail"><img alt="" src="__PUBLIC__/'+data[i].pic+'" class="product-detail-thumbnail-image" title=""></li>';

        }
        res += '</ul>';

        bigPic = '<img width="384" height="576" alt="" class="product-detail-main-image-image" src="__PUBLIC__/'+data[0].pic+'" title="">';
        $('.product-detail-main-image-container').html(bigPic);

        $('.product-detail-thumbnails').html(res);

      }, 'json');


    });

    //切换详情
    $('.tab-item-link').on('click', function() {

        $(this).addClass('active').parent().siblings().children().removeClass('active');


        $('.'+$(this).attr('data-target')).addClass('active').siblings().removeClass('active');

    });

    //首张添加current
    $('.product-detail-thumbnail:first').addClass('current');

    //点击图片时图片变白current
    $('.product-detail-thumbnails').on('click', '.product-detail-thumbnail', function() {
      console.log(1);
      $(this).addClass('current').siblings().removeClass('current');

      $('.product-detail-main-image-image')[0].src = $(this).children()[0].src;

    });


    //获取尺码
    $('input[type=radio]').on('click', function() {

      $(this).parent().parent().parent().prev('div').children().html($(this).attr('value'));

      $(this).parent().parent().parent().prev('div').attr('data-value', $(this).attr('value'));

      //为购物车添加尺码属性
      $('.button-buy').attr('data-size', $(this).attr('value'));
    })

    //gid,aid
    // 点击购物车按钮
    $('.button-buy').on('click', function() {

      //如果没点size,不给请求
      if ( !($(this).attr('data-size')) ) {

        $('.button-sold-out-warning').css('display', 'block').html( $(this).attr('data-not-added-text') );
      } else {

        $('.button-sold-out-warning').css('display', 'none');
      }


    });



</script>


      </main>
 </block>
