<extend name="Base:base" />

<block name="title">
    <title>Lady</title>
</block>


<block name="main">
    <main role="main" class="responsive segments"><!-- Main -->
        <!--AEMPUBPRDAP12-->
    	<div class="layout">
    		<section class="sidebarpluscontent modules">
    			<aside class="aside section-menu">
    				<div class="left parbase">


        	<nav class="section-menu  ">
        		<ul>
        		  <li>

        		      <h2>
        		          <a href="./时尚女装——潮流购物 _ H&M CN_files/时尚女装——潮流购物 _ H&M CN.html">女士</a>
        		      </h2>
        	          <div class="section-menu-sub-menu">
        	              <div class="section-menu-sub-menu-inner">
        	                  <div class="section-menu-categories">

        	                          <div class="section-menu-category">
        	                              <h4 class="">
        	                                   <span>新品</span>
        	                              </h4>
        	                              <ul style="display: block;">

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/new-arrivals/clothes.html">
        	                                               服饰
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/new-arrivals/shoes-accessories.html">
        	                                               鞋品&amp;配饰
        	                                           </a>

                                                  </li>

        	                              </ul>
        	                          </div>

        	                          <div class="section-menu-category">
        	                              <h4 class="">
        	                                   <span>通过产品筛选</span>
        	                              </h4>
        	                              <ul style="display: block;">

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/view-all.html">
        	                                               查看所有
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/dresses.html">
        	                                               连衣裙
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/shirts-and-blouses.html">
        	                                               衬衫
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/tops.html">
        	                                               上装
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/basics.html">
        	                                               基本款
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/jackets-coats.html">
        	                                               夹克&amp;外套
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/trousers.html">
        	                                               裤装
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/jeans.html">
        	                                               牛仔裤
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/shorts.html">
        	                                               短裤
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/skirts.html">
        	                                               半身裙
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/cardigans-and-jumpers.html">
        	                                               开衫&amp;毛衣
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/blazers-waistcoats.html">
        	                                               小西装&amp;马甲
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/sport.html">
        	                                               运动服
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/jumpsuits.html">
        	                                                连体裤
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/knitwear.html">
        	                                               针织衫
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/lingerie.html">
        	                                               内衣
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/nightwear.html">
        	                                               睡衣
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/swimwear.html">
        	                                               泳装
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/shoes.html">
        	                                               鞋品
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/accessories.html">
        	                                               配饰
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/socks-tights.html">
        	                                               袜子&amp;紧身下装
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/maternity-wear.html">
        	                                               孕妇装
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/plus.html">
        	                                               加大码
        	                                           </a>

                                                  </li>

        	                              </ul>
        	                          </div>

        	                          <div class="section-menu-category">
        	                              <h4 class="">
        	                                   <span>精选</span>
        	                              </h4>
        	                              <ul style="display: block;">

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/offers-highlights/the-bestsellers.html">
        	                                               畅销榜
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/offers-highlights/30--off-on-selected-dresses-and-blouses.html">
        	                                               精选连身裙&amp;女式上衣7折
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/offers-highlights/spring-shoe-special.html">
        	                                               春日鞋品特别系列
        	                                           </a>

                                                  </li>

        	                              </ul>
        	                          </div>

        	                          <div class="section-menu-category">
        	                              <h4 class="">
        	                                   <span>系列</span>
        	                              </h4>
        	                              <ul style="display: block;">

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8nf-garden-party.html">
        	                                               花园派对
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8na-hm-loves-coachella-2017.html">
        	                                               H&amp;M Loves Coachella
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8jf-pretty-utilitarian.html">
        	                                               醒目迷人
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8nb-spring-fashion.html">
        	                                               春季风尚
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8of-day-to-night.html">
        	                                               时尚每一刻
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8od-a-night-out.html">
        	                                               派对之夜
        	                                           </a>

                                                  </li>

        	                              </ul>
        	                          </div>

        	                          <div class="section-menu-category">
        	                              <h4 class="">
        	                                   <span>通过概念筛选</span>
        	                              </h4>
        	                              <ul style="display: block;">

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-concept/trend.html">
        	                                               Trend
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-concept/modern-classic.html">
        	                                               摩登经典
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-concept/casual.html">
        	                                               休闲风格
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-concept/divided.html">
        	                                               DIVIDED
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-concept/partywear.html">
        	                                               派对
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-concept/premium-quality.html">
        	                                               Premium Quality - 至臻品质系列
        	                                           </a>

                                                  </li>

        	                                      <li class="section-menu-subdepartment ">
        	                                           <a href="http://www2.hm.com/zh_cn/ladies/shop-by-concept/conscious-sustainable-style.html">
        	                                               Conscious - 可持续时尚
        	                                           </a>

                                                  </li>

        	                              </ul>
        	                          </div>

        	                  </div>
        	              </div>
        	          </div>

                  </li>
                </ul>
        	</nav>
        </div>



    			</aside>
    			<div class="parsys main"><section class="segment section">





      <article class="banner single-cta s-text    default" style="background-image:url(/content/dam/TOOLBOX/IN_SEASON/2017_05/w3/0440140001_MEN_BASICS_SLD_16x9.jpg)" data-text-color="white" data-view-tracking="false" data-activity-type="MERCH" data-activity-code="CN32_LBLOUSESANDDRESSES" data-promotion-creative="CN32 Blouses and Dresses Week 14">
        <div class="banner-text-content">
           <span class="banner-text-inner-content">
              <h3 class="headline">精选连身裙&amp;女式上衣7折 </h3>
              <p class="text">优惠适用于hm.com，有效期截至2017年4月12日17:00。</p>

               		<a href="http://www2.hm.com/zh_cn/ladies/offers-highlights/30--off-on-selected-dresses-and-blouses.html.html" data-cta-tracking="true" class="cta link" data-text-color="white">即刻选购</a>

           </span>
         </div>

       </article>




        </section>
        <section class="segment section singleteasercontainer">



    		<article class="default-m-serif  teaser-media  single-cta" data-item-ratio="3x2" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8OF" data-promotion-creative="8OF Teaser Page"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8of-day-to-night.html" data-promotion-page-id="Ladies : Shopbyfeature : 8Of - Day To Night" data-promotion-page-category="LADIES_SHOPBYFEATURE _8OF - DAY TO NIGHT" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>

    	<div id="threebytwo-pricemodule_1" data-container-initial-width="662px" data-container-initial-height="441px" data-path="/content/hmonline/zh_cn/ladies/teasers-s05/8of-teaser-page/jcr:content/areateaser/threebytwo/pricemodule/pricemodule_1" class="cq-pricemodule  campaign-price campaign-price-black campaign-price-medium campaign-price-align-left" data-quick-buy-url="/zh_cn/productpage/_jcr_content/product.quickbuy.0485220002.html" style="border: none; z-index: 15; position: absolute; width: 80.3636px; height: 40.3636px; top: 268.123px; left: 7%;">
    		<span class="campaign-price-name">短T恤</span>


    			<span class="campaign-price-price">
    				¥149.00
    			</span>


    		<span class="campaign-price-more-info">



    		</span>
    	</div>

    	<div class="background-image teaser-image rimd">

        <img src="./时尚女装——潮流购物 _ H&M CN_files/hmprod"></div>
    	<div class="text-container" data-text-placement="right middle" data-text-alignment="center" data-text-color="black">
    	<p class="vignette">DIVIDED</p>

    	<h3 class="heading">时尚每一刻</h3>


    	<ul class="cta-list" data-cta-color="black">
    		<li class="item"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8of-day-to-night.html" data-promotion-page-id="Ladies : Shopbyfeature : 8Of - Day To Night" data-promotion-page-category="LADIES_SHOPBYFEATURE _8OF - DAY TO NIGHT" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
    	</ul>
        </div>
        </article>


        </section>
        <div class="productcarouselcontainer parbase section">













        <section class="segment new-arrivals">
      <h2 class="heading">正流行</h2>
      <div class="swipe-expose dep-swipe">
          <div class="swipe" data-swipe-expose="true" data-swipe-not-continuous="false" style="visibility: visible;">
              <ul class="swipe-expose-items swipe-items" style="width: 4292px;"><li class="swipe-item modules three" data-track="false" data-index="0" style="width: 715.188px; left: 0px; transition-duration: 0ms; transform: translate(-1430.38px, 0px) translateZ(0px);">






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0528445002" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0528445002&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0528445002.html" title="围裹式连衣裙" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(1)" class="product-item-image swipe-expose-item-image" alt="围裹式连衣裙" title="围裹式连衣裙">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0528445002|围裹式连衣裙|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0528445002.html">围裹式连衣裙</a>
    						</h3>




    									<strong class="price">
    										¥ 499.00 </strong>





    							<div class="product-item-selection">新品</div>


    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0506590002" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0506590002&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0506590002.html" title="Straight Regular Jeans" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(2)" class="product-item-image swipe-expose-item-image" alt="Straight Regular Jeans" title="Straight Regular Jeans">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0506590002|Straight Regular Jeans|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0506590002.html">Straight Regular Jeans</a>
    						</h3>




    									<strong class="price">
    										¥ 499.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0494486001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0494486001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0494486001.html" title="铆钉穆勒鞋" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(3)" class="product-item-image swipe-expose-item-image" alt="铆钉穆勒鞋" title="铆钉穆勒鞋">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0494486001|铆钉穆勒鞋|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0494486001.html">铆钉穆勒鞋</a>
    						</h3>




    									<strong class="price">
    										¥ 199.00 </strong>





    							<div class="product-item-selection">新品</div>


    					</div>

    					</article>




    	                    </li><li class="swipe-item modules three" data-track="false" data-index="1" style="width: 715.188px; left: -715.188px; transition-duration: 0ms; transform: translate(-715.188px, 0px) translateZ(0px);">



                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0477463006" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0477463006&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0477463006.html" title="真丝混纺上衣" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(4)" class="product-item-image swipe-expose-item-image" alt="真丝混纺上衣" title="真丝混纺上衣">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0477463006|真丝混纺上衣|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0477463006.html">真丝混纺上衣</a>
    						</h3>




    									<strong class="price">
    										¥ 199.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0522406001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0522406001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0522406001.html" title="提花梭织围裹半身裙" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(5)" class="product-item-image swipe-expose-item-image" alt="提花梭织围裹半身裙" title="提花梭织围裹半身裙">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0522406001|提花梭织围裹半身裙|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0522406001.html">提花梭织围裹半身裙</a>
    						</h3>




    									<strong class="price">
    										¥ 399.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0487255001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0487255001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0487255001.html" title="系带芭蕾浅口鞋" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(6)" class="product-item-image swipe-expose-item-image" alt="系带芭蕾浅口鞋" title="系带芭蕾浅口鞋">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0487255001|系带芭蕾浅口鞋|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0487255001.html">系带芭蕾浅口鞋</a>
    						</h3>




    									<strong class="price">
    										¥ 249.00 </strong>






    					</div>

    					</article>

                </li>
                  <li class="swipe-item modules three" data-index="2" style="width: 715.188px; left: -1430.38px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0528445002" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0528445002&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0528445002.html" title="围裹式连衣裙" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(1)" class="product-item-image swipe-expose-item-image" alt="围裹式连衣裙" title="围裹式连衣裙">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0528445002|围裹式连衣裙|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0528445002.html">围裹式连衣裙</a>
    						</h3>




    									<strong class="price">
    										¥ 499.00 </strong>





    							<div class="product-item-selection">新品</div>


    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0506590002" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0506590002&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0506590002.html" title="Straight Regular Jeans" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(2)" class="product-item-image swipe-expose-item-image" alt="Straight Regular Jeans" title="Straight Regular Jeans">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0506590002|Straight Regular Jeans|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0506590002.html">Straight Regular Jeans</a>
    						</h3>




    									<strong class="price">
    										¥ 499.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0494486001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0494486001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0494486001.html" title="铆钉穆勒鞋" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(3)" class="product-item-image swipe-expose-item-image" alt="铆钉穆勒鞋" title="铆钉穆勒鞋">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0494486001|铆钉穆勒鞋|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0494486001.html">铆钉穆勒鞋</a>
    						</h3>




    									<strong class="price">
    										¥ 199.00 </strong>





    							<div class="product-item-selection">新品</div>


    					</div>

    					</article>




    	                    </li>
    	                    <li class="swipe-item modules three" data-index="3" style="width: 715.188px; left: -2145.56px; transition-duration: 0ms; transform: translate(715.188px, 0px) translateZ(0px);">



                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0477463006" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0477463006&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0477463006.html" title="真丝混纺上衣" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(4)" class="product-item-image swipe-expose-item-image" alt="真丝混纺上衣" title="真丝混纺上衣">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0477463006|真丝混纺上衣|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0477463006.html">真丝混纺上衣</a>
    						</h3>




    									<strong class="price">
    										¥ 199.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0522406001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0522406001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0522406001.html" title="提花梭织围裹半身裙" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(5)" class="product-item-image swipe-expose-item-image" alt="提花梭织围裹半身裙" title="提花梭织围裹半身裙">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0522406001|提花梭织围裹半身裙|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0522406001.html">提花梭织围裹半身裙</a>
    						</h3>




    									<strong class="price">
    										¥ 399.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0487255001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0487255001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0487255001.html" title="系带芭蕾浅口鞋" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(6)" class="product-item-image swipe-expose-item-image" alt="系带芭蕾浅口鞋" title="系带芭蕾浅口鞋">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0487255001|系带芭蕾浅口鞋|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0487255001.html">系带芭蕾浅口鞋</a>
    						</h3>




    									<strong class="price">
    										¥ 249.00 </strong>






    					</div>

    					</article>

                </li>
              <li class="swipe-item modules three" data-track="false" data-index="4" style="width: 715.188px; left: -2860.75px; transition-duration: 0ms; transform: translate(1430.38px, 0px) translateZ(0px);">






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0528445002" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0528445002&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0528445002.html" title="围裹式连衣裙" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(1)" class="product-item-image swipe-expose-item-image" alt="围裹式连衣裙" title="围裹式连衣裙">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0528445002|围裹式连衣裙|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0528445002.html">围裹式连衣裙</a>
    						</h3>




    									<strong class="price">
    										¥ 499.00 </strong>





    							<div class="product-item-selection">新品</div>


    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0506590002" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0506590002&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0506590002.html" title="Straight Regular Jeans" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(2)" class="product-item-image swipe-expose-item-image" alt="Straight Regular Jeans" title="Straight Regular Jeans">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0506590002|Straight Regular Jeans|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0506590002.html">Straight Regular Jeans</a>
    						</h3>




    									<strong class="price">
    										¥ 499.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0494486001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0494486001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0494486001.html" title="铆钉穆勒鞋" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(3)" class="product-item-image swipe-expose-item-image" alt="铆钉穆勒鞋" title="铆钉穆勒鞋">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0494486001|铆钉穆勒鞋|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0494486001.html">铆钉穆勒鞋</a>
    						</h3>




    									<strong class="price">
    										¥ 199.00 </strong>





    							<div class="product-item-selection">新品</div>


    					</div>

    					</article>




    	                    </li><li class="swipe-item modules three" data-track="false" data-index="5" style="width: 715.188px; left: -3575.94px; transition-duration: 0ms; transform: translate(2145.56px, 0px) translateZ(0px);">



                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0477463006" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0477463006&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0477463006.html" title="真丝混纺上衣" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(4)" class="product-item-image swipe-expose-item-image" alt="真丝混纺上衣" title="真丝混纺上衣">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0477463006|真丝混纺上衣|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0477463006.html">真丝混纺上衣</a>
    						</h3>




    									<strong class="price">
    										¥ 199.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0522406001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0522406001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0522406001.html" title="提花梭织围裹半身裙" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(5)" class="product-item-image swipe-expose-item-image" alt="提花梭织围裹半身裙" title="提花梭织围裹半身裙">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0522406001|提花梭织围裹半身裙|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0522406001.html">提花梭织围裹半身裙</a>
    						</h3>




    									<strong class="price">
    										¥ 399.00 </strong>






    					</div>

    					</article>






                       <article class="product-item swipe-expose-item-inner club-price-item" data-articlecode="0487255001" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;,&#39;0487255001&#39;);">

    					<a href="http://www2.hm.com/zh_cn/productpage.0487255001.html" title="系带芭蕾浅口鞋" class="product-item-link">
    						<img width="222" height="333" src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(6)" class="product-item-image swipe-expose-item-image" alt="系带芭蕾浅口鞋" title="系带芭蕾浅口鞋">

    						<button type="button" data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0487255001|系带芭蕾浅口鞋|LADIES_DEPARTMENT_VIEW_ALL" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>

    					</a>

    					<div class="product-item-details">

    						<h3 class="product-item-heading">
    							<a href="http://www2.hm.com/zh_cn/productpage.0487255001.html">系带芭蕾浅口鞋</a>
    						</h3>




    									<strong class="price">
    										¥ 249.00 </strong>






    					</div>

    					</article>

                </li></ul>
          </div>

          <nav class="swipe-navigation swipe-navigation-outer swipe-navigation-dark">
    		<button class="swipe-navigation-prev">Previous</button>
    		<button class="swipe-navigation-next">Next</button>
    	  </nav>

            <ul class="swipe-pagination">

                <li class="swipe-pagination-item ">
                    <button class="swipe-pagination-button swipe-pagination-button-current">1</button>
                </li>

                <li class="swipe-pagination-item ">
                    <button class="swipe-pagination-button">2</button>
                </li>

            </ul>
          </div>
          <ul class="cta container">

               <li class="item">
        		  <a href="http://www2.hm.com/zh_cn/ladies.html#" class="cta button"></a>
        	   </li>

            </ul>
        </section>

        </div>
            <section class="segment section">

            	<div class="two modules">
                    <article class="merch-creative-top teaser-media  single-cta" data-item-ratio="2x3" data-view-tracking="true" data-activity-type="MERCH" data-activity-code="CNL_SHOESWEEK14" data-promotion-creative="Shoes Week 14"><a href="http://www2.hm.com/zh_cn/ladies/offers-highlights/spring-shoe-special.html" data-promotion-page-id="Ladies : Offersandhighlights : Cnl - Spring Shoe Special: Spring shoe special" data-promotion-page-category="LADIES_OFFERSANDHIGHLIGHTS : CNL - SPRING SHOE SPECIAL- SPRING SHOE SPECIAL : SPRING SHOE SPECIAL_VIEW_ALL" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
                	<div class="background-image teaser-image rimd">

                    <img src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(7)"></div>

                	<div class="text-container" data-text-color="black">



                	<h3 class="heading">春日鞋品</h3>
                	<p class="preamble-bottom">全新时尚，让你一见钟情!<br></p>




                	<ul class="cta-list" data-cta-color="black">
                		<li class="item"><a href="http://www2.hm.com/zh_cn/ladies/offers-highlights/spring-shoe-special.html" data-promotion-page-id="Ladies : Offersandhighlights : Cnl - Spring Shoe Special: Spring shoe special" data-promotion-page-category="LADIES_OFFERSANDHIGHLIGHTS : CNL - SPRING SHOE SPECIAL- SPRING SHOE SPECIAL : SPRING SHOE SPECIAL_VIEW_ALL" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                	</ul>
                    </div>
                    </article>

            		<article class="default-m-serif has-effect-1 teaser-media  single-cta" data-item-ratio="2x3" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8NF" data-promotion-creative="8NF Teaser Page"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8nf-garden-party.html" data-promotion-page-id="Ladies : Shopbyfeature : 8Nf - Garden Party" data-promotion-page-category="LADIES_SHOPBYFEATURE _8NF - GARDEN PARTY" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
            	<div class="background-image teaser-image rimd">

                <img src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(8)"></div>
            	<div class="text-container" data-text-placement="center bottom" data-text-alignment="center" data-text-color="white">
            	<p class="vignette">穿搭秘诀</p>

            	<h3 class="heading">花园派对</h3>


            	<ul class="cta-list" data-cta-color="white">
            		<li class="item"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8nf-garden-party.html" data-promotion-page-id="Ladies : Shopbyfeature : 8Nf - Garden Party" data-promotion-page-category="LADIES_SHOPBYFEATURE _8NF - GARDEN PARTY" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                	</ul>
                </div>
                </article>
                	</div>
            </section>
        <section class="segment section singleteasercontainer">



        	<article class="default-m-serif  teaser-media  single-cta" data-item-ratio="3x2" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8NB" data-promotion-creative="8NB Teaser Page prio 2"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8nb-spring-fashion.html" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>

        	<div class="background-image teaser-image rimd">

            <img src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(9)"></div>
        	<div class="text-container" data-text-placement="left middle" data-text-alignment="center" data-text-color="black">
            	<p class="vignette">H&amp;M 倾情呈现</p>

            	<h3 class="heading">春季风尚</h3>


            	<ul class="cta-list" data-cta-color="black">
            		<li class="item"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8nb-spring-fashion.html" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
            	</ul>
            </div>
            </article>


        </section>
        <section class="segment section">

        	<div class="two modules">
        		<article class="default-m-sans  teaser-media  single-cta" data-item-ratio="2x3" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8NA" data-promotion-creative="8NA Teaser Page Prio 2"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8na-hm-loves-coachella-2017.html" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
        	<div class="background-image teaser-image rimd">

        <img src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(10)"></div>
        	<div class="text-container" data-text-placement="center bottom" data-text-alignment="center" data-text-color="black">

        	<div class="logo-image rimd" style="padding-bottom:41.875%;">

        	<img src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(11)"></div>



        	<ul class="cta-list" data-cta-color="white">
        		<li class="item"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-feature/8na-hm-loves-coachella-2017.html" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
        	</ul>
        </div>
        </article>

    		<article class="merch-sgi-bottom teaser-media  single-cta" data-item-ratio="2x3" data-view-tracking="true" data-activity-type="MERCH" data-activity-code="CNL_SWEATERSWEEK14" data-promotion-creative="Tops Week 14"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/cardigans-and-jumpers.html" data-promotion-page-id="Ladies : Shopbyproduct : Cardigans \5c 26  Jumpers : Viewall" data-promotion-page-category="LADIES_SHOPBYPRODUCT : CARDIGANS \5c 26  JUMPERS_CARDIGANS \5c 26  JUMPERS : VIEWALL_VIEW_ALL" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
    	<div class="background-image teaser-image rimd">

        <img src="./时尚女装——潮流购物 _ H&M CN_files/hmprod(12)"></div>

    	<div class="text-container" data-text-color="black">

    	<p class="vignette">毛衣&amp;卫衣</p>

    	<h3 class="heading">春日色调</h3>





    	<ul class="cta-list" data-cta-color="black">
    		<li class="item"><a href="http://www2.hm.com/zh_cn/ladies/shop-by-product/cardigans-and-jumpers.html" data-promotion-page-id="Ladies : Shopbyproduct : Cardigans \5c 26  Jumpers : Viewall" data-promotion-page-category="LADIES_SHOPBYPRODUCT : CARDIGANS \5c 26  JUMPERS_CARDIGANS \5c 26  JUMPERS : VIEWALL_VIEW_ALL" data-cta-tracking="true" class="cta link" target="_self">即刻选购</a></li>
    	</ul>
        </div>
        </article>
        	</div>

        </section>

        </div>

        		</section>
        	</div>


               <div class="parbase overlaycontainer">




        </div>

    </main>
</block>
