<extend name="Base:base" />
		
		 <block name="title"><title>找回密码 | H&amp;M China</title></block>
 <block name="main"> 
<main>
	<div>
		<div class="row my-hm">
			 <div class="layout layout-eight">


					<div class="row my-hm">
						<div class="grid col-6">
									<h1>忘了密码？</h1>
										
									<p></p><div id="globalMessages"></div>										
											
							请输入您创建账户时所使用的电子邮箱，我们会发送给您一个链接，让您重置您的密码。<p></p>
						<div class="row">
							<div class="grid col-3">
								<form id="forgottenPwdForm" action="__URL__/forgetPassword" method="post" class="ng-pristine ng-valid">
								<div class="input-group">
										<label for="forgottenPwd.email">电子邮箱</label>
										<input id="email-pass" name="email" type="email">
								</div>
									<div>&nbsp;</div>
									<button class="button">提交</button>

								</form>
							</div>
							<div class="grid col-3"></div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</main>

	<script>
			
			$('#forgottenPwdForm').submit( function () {
				
				if ( $('#email-pass').val() == '') {

					$('#email-pass').prev('span').remove();

					$('#email-pass').before('<span style="color:red">*亲,请填写你的邮箱!</span>');
			
					return false;
				}
				
			});

	</script>>
</block>
	