 <extend name="Base:base" />
    
     <block name="title"><title>找回密码 | H&amp;M China</title></block>  

   <block name="main"> 
  <main>
				<div id="globalMessages">   </div>
  <div>
	<div class="row my-hm">
	 <div class="layout layout-eight">
		<div class="grid col-6">
			<h1>忘了密码？</h1>
			<h3>重置密码</h3>
			<p> 
				谢谢，我们已向您发送了一封电子邮件。</p>
			<p class="input-info">
				如果您不想收到来自我们的任何电子邮件，请联系我们的客服4008-215-500<span class="customer-sevice-phone-number"></span>
			</p>
				
		</div>
		<div class="grid col-3"></div>
	 </div>	
	</div>
</div>
</main>
	</block>