<extend name="Base:base" />
<block name="title">
	<title>Your Shopping Cart | H&amp;M CN</title>
</block>
<block name="main">
	<main role="main" class="favorites-active">
			<div class="wrapper">    
				<nav class="breadcrumbs">
					<ul>
	<li>
		<a href="http://www2.hm.com/zh_cn/">HM.COM</a>
	</li>

	<li class="active">

			<a href="http://www2.hm.com/zh_cn/cart#" onclick="return false;"> 购物袋</a>
				</li>
	</ul>
</nav>
				<script type="text/javascript">$("body").addClass("checkout-loader-layer");</script>
	<header class="checkout-header"><h1>购物袋</h1></header>	
		<div class="row sticky-wrapper ng-scope" ng-controller="CartContextController">
			<div class="grid col-8">
				<h2 class="visuallyhidden">购物袋商品</h2>
					<!-- ngIf: getContext().cartEntries.length > 0 --><ul ng-if="getContext().cartEntries.length &gt; 0" class="product-detail-list responsive ng-scope" id="cartPage-items" ng-class="{&#39;club-member&#39;: getContext().isClubMember}"><!-- ngRepeat: entry in getContext().cartEntries --><li class="product-detail-list-item ng-scope" id="0401021001" ng-repeat="entry in getContext().cartEntries" ng-class="{&#39;club-price-item&#39;:entry.isYellowPriceAvailable}">
		<!-- Shopping bag item -->
		<div class="product-detail-list-item-image-wrapper">
			<div class="wrapper-inner">
				<a href="http://www2.hm.com/zh_cn/productpage.0401021001.html" class="product-detail-list-item-image "> 
				<!-- ngIf: entry.isYellowPriceAvailable -->
				<!-- ngIf: !entry.isYellowPriceAvailable && entry.promotionMarker && entry.promotionMarker.imageUrl != null -->
		
				<!-- ngIf: !entry.isYellowPriceAvailable && entry.promotionMarker && entry.promotionMarker.showPrice -->
					<img ng-src="http://lp2.hm.com/hmprod%3Fset%3Dsource%5B%2Fmodel%2F2016%2FD00+0401021+001+78+6440.jpg%5D%2Ctype%5BSTILLLIFE_FRONT%5D%26hmver%3D1%26call%3Durl%5Bfile%3A%2Fproduct%2Fcart%5D" alt="图案T恤" title="图案T恤" class="product-detail-list-item-image-image" src="./Your Shopping Bag _ H&amp;M China_files/hmprod-set=source[%2Fmodel%2F2016%2FD00+0401021+001+78+6440.jpg],type[STILLLIFE_FRONT]&amp;hmver=1&amp;call=url[file-%2Fproduct%2Fcart]">
						 
			    </a>
			 </div>  
		</div>
		<div class="product-detail-list-item-details">
		
				<div class="product-detail-list-item-price-info">
					<p class="product-detail-list-item-total-price">
						总价：<span id="entry_new_price" class="ng-binding">¥99.90</span>
					</p>
				</div>
		
				<!-- ngRepeat: marker in entry.productMarker -->
							
				<h3 class="sub-sub-heading ng-binding">图案T恤</h3>
				<div ng-show="entry.isYellowPriceAvailable" class="ng-hide">
	<p ng-class="{&#39;original-price&#39; : getContext().isClubMember ,&#39;product-detail-price&#39;:!getContext().isClubMember }" class="ng-binding product-detail-price">
		¥99.90</p>

	<p class="club-price-text">
		CLUB PRICE<!-- ngIf: getContext().isClubMember --> 
		<!-- ngIf: !getContext().isClubMember --><span ng-if="!getContext().isClubMember" class="club-price ng-binding ng-scope">  </span><!-- end ngIf: !getContext().isClubMember -->
	</p>
</div>

<div ng-hide="entry.isYellowPriceAvailable">
	<p class="product-detail-price ng-binding" ng-class="{&#39;sale-price&#39; : entry.strikedPrice}">
		¥99.90 <!-- ngIf: entry.strikedPrice -->
	</p>
</div>

<p class="product-detail-selection">
					</p><div class="product-item-selection ng-binding"></div>
				<p></p>
				<dl class="product-detail-list-item-details-list">
					<dt>
						商品编号：</dt>
					<dd class="ng-binding">0401021001</dd>
					
					<dt>
						颜色：</dt>
					<dd class="ng-binding">深灰色</dd>

					<dt>
						尺码：</dt>
					<dd class="ng-binding">XS (165|84A)</dd>
				</dl>
				
			</div>
			<div class="product-detail-list-item-actions">
                <button class="button secondary icon icon-trash" type="button" title="Remove product" ng-click="removeItem(entry.variantCode,entry)"></button>
                <!-- ngIf: true --><button class="button secondary icon icon-move-favorite ng-scope" type="button" data-saved-text="Saved to favorites" data-not-saved-text="Not saved to favorites" title="Toggle favorite" ng-click="addToFavourite(entry.variantCode,entry.isFavourite,entry)" ng-class="{&#39;is-favorite&#39;:entry.isFavourite}" ng-if="true"></button><!-- end ngIf: true -->
                <label class="product-detail-list-item-actions-label" for="shopping-bag-quantity-options-4"></label>
				<div class="select-primary product-detail-list-item-quantity">
    				<select name="product-detail-list-item-quantity-options-4" id="shopping-bag-quantity-options-4" data-validation="false" ng-change="updateQuantity(entry,entry.quantity)" ng-model="entry.quantity" ng-options="option for option in range(entry.maxQuantity)" class="ng-pristine ng-untouched ng-valid"><option value="0" selected="selected" label="1">1</option></select>
				</div>
           	</div>
			<!-- ngIf: entry.hazmat -->
	</li><!-- end ngRepeat: entry in getContext().cartEntries --><li class="product-detail-list-item ng-scope" id="0513443001" ng-repeat="entry in getContext().cartEntries" ng-class="{&#39;club-price-item&#39;:entry.isYellowPriceAvailable}">
		<!-- Shopping bag item -->
		<div class="product-detail-list-item-image-wrapper">
			<div class="wrapper-inner">
				<a href="http://www2.hm.com/zh_cn/productpage.0513443001.html" class="product-detail-list-item-image "> 
				<!-- ngIf: entry.isYellowPriceAvailable -->
				<!-- ngIf: !entry.isYellowPriceAvailable && entry.promotionMarker && entry.promotionMarker.imageUrl != null -->
		
				<!-- ngIf: !entry.isYellowPriceAvailable && entry.promotionMarker && entry.promotionMarker.showPrice -->
					<img ng-src="http://lp2.hm.com/hmprod%3Fset%3Dsource%5B%2Fmodel%2F2017%2FE00+0513443+001+15+2529.jpg%5D%2Ctype%5BSTILLLIFE_FRONT%5D%26hmver%3D1%26call%3Durl%5Bfile%3A%2Fproduct%2Fcart%5D" alt="蜡染印花T恤" title="蜡染印花T恤" class="product-detail-list-item-image-image" src="./Your Shopping Bag _ H&amp;M China_files/hmprod-set=source[%2Fmodel%2F2017%2FE00+0513443+001+15+2529.jpg],type[STILLLIFE_FRONT]&amp;hmver=1&amp;call=url[file-%2Fproduct%2Fcart]">
						 
			    </a>
			 </div>  
		</div>
		<div class="product-detail-list-item-details">
		
				<div class="product-detail-list-item-price-info">
					<p class="product-detail-list-item-total-price">
						总价：<span id="entry_new_price" class="ng-binding">¥149.00</span>
					</p>
				</div>
		
				<!-- ngRepeat: marker in entry.productMarker --><div ng-repeat="marker in entry.productMarker" class="ng-scope">
					<img alt="COACHELLA" class="label" ng-src="/medias/Coachella-en.jpg?context=bWFzdGVyfHJvb3R8MzEyM3xpbWFnZS9qcGVnfGgyNi9oZDgvMTAyNjIzMTI4NzgxMTAuanBnfGEzZjc0YjA3ZjhhNjY1ZmZjNjk5NTVlYzYyYjg2ODVlMzMxYTczNjJlMDdjMWM2ODYyYmVhMzZhNDNlOTUwMzQ" title="COACHELLA" src="./Your Shopping Bag _ H&amp;M China_files/Coachella-en.jpg">
				</div><!-- end ngRepeat: marker in entry.productMarker -->
							
				<h3 class="sub-sub-heading ng-binding">蜡染印花T恤</h3>
				<div ng-show="entry.isYellowPriceAvailable" class="ng-hide">
	<p ng-class="{&#39;original-price&#39; : getContext().isClubMember ,&#39;product-detail-price&#39;:!getContext().isClubMember }" class="ng-binding product-detail-price">
		¥149.00</p>

	<p class="club-price-text">
		CLUB PRICE<!-- ngIf: getContext().isClubMember --> 
		<!-- ngIf: !getContext().isClubMember --><span ng-if="!getContext().isClubMember" class="club-price ng-binding ng-scope">  </span><!-- end ngIf: !getContext().isClubMember -->
	</p>
</div>

<div ng-hide="entry.isYellowPriceAvailable">
	<p class="product-detail-price ng-binding" ng-class="{&#39;sale-price&#39; : entry.strikedPrice}">
		¥149.00 <!-- ngIf: entry.strikedPrice -->
	</p>
</div>

<p class="product-detail-selection">
					</p><div class="product-item-selection ng-binding"></div>
				<p></p>
				<dl class="product-detail-list-item-details-list">
					<dt>
						商品编号：</dt>
					<dd class="ng-binding">0513443001</dd>
					
					<dt>
						颜色：</dt>
					<dd class="ng-binding">深蓝色/绿松石色</dd>

					<dt>
						尺码：</dt>
					<dd class="ng-binding">XS (165|84A)</dd>
				</dl>
				
			</div>
			<div class="product-detail-list-item-actions">
                <button class="button secondary icon icon-trash" type="button" title="Remove product" ng-click="removeItem(entry.variantCode,entry)"></button>
                <!-- ngIf: true --><button class="button secondary icon icon-move-favorite ng-scope" type="button" data-saved-text="Saved to favorites" data-not-saved-text="Not saved to favorites" title="Toggle favorite" ng-click="addToFavourite(entry.variantCode,entry.isFavourite,entry)" ng-class="{&#39;is-favorite&#39;:entry.isFavourite}" ng-if="true"></button><!-- end ngIf: true -->
                <label class="product-detail-list-item-actions-label" for="shopping-bag-quantity-options-4"></label>
				<div class="select-primary product-detail-list-item-quantity">
    				<select name="product-detail-list-item-quantity-options-4" id="shopping-bag-quantity-options-4" data-validation="false" ng-change="updateQuantity(entry,entry.quantity)" ng-model="entry.quantity" ng-options="option for option in range(entry.maxQuantity)" class="ng-pristine ng-untouched ng-valid"><option value="0" selected="selected" label="1">1</option><option value="1" label="2">2</option><option value="2" label="3">3</option><option value="3" label="4">4</option><option value="4" label="5">5</option><option value="5" label="6">6</option><option value="6" label="7">7</option><option value="7" label="8">8</option><option value="8" label="9">9</option><option value="9" label="10">10</option></select>
				</div>
           	</div>
			<!-- ngIf: entry.hazmat -->
	</li><!-- end ngRepeat: entry in getContext().cartEntries -->

	<!-- /Shopping bag item --></ul><!-- end ngIf: getContext().cartEntries.length > 0 -->
					<!-- ngIf: getContext().cartEntries.length == 0 -->
			</div>
			<div id="cartPage-summary" class="grid col-4">
				<div style="" class="shopping-bag-order-total sticky-on-scroll semi-sticky" data-sticky-offset="-20" data-sticky-stop-offset="-70">
					<div class="box">
	<h2 class="box-headline">购物袋总金额</h2>
	<div class="box-content">
	<div class="shopping-bag-total">
		<table class="order-total">
	<tbody>
	    <!-- ngRepeat: (key,value) in getContext().orderTotals.impositionType -->
		<!-- ngIf: getContext().orderTotals.externalTaxApplied && getContext().orderTotals.maxTaxApplied -->
		<tr>
			<th scope="row">订单价值：</th>
			<td><span id="newPriceSubtotal" class="ng-binding">¥248.90</span></td>
		</tr>		
		<!-- ngIf: getContext().orderTotals.totalDiscount -->
		<!-- ngIf: getContext().orderTotals.staffCardDiscount -->			
		<!-- ngIf: getContext().orderTotals.clubVoucherDiscount -->	
		<!-- ngIf: getContext().orderTotals.totalGiftCardAmount -->			
		<!-- ngIf: getContext().cartEntries.length > 0 || getContext().deliveryMode --><tr ng-if="getContext().cartEntries.length &gt; 0 || getContext().deliveryMode" class="ng-scope">
			<th scope="row">送货：</th>
			<td class="ng-binding">¥10.00</td>
		</tr><!-- end ngIf: getContext().cartEntries.length > 0 || getContext().deliveryMode -->
		<!-- ngIf: getContext().orderTotals.paymentCost -->
	</tbody>
	<tfoot>
		<!-- ngIf: getContext().orderTotals.totalBeforeRounding -->
		<!-- ngIf: getContext().orderTotals.rounding -->
		<tr>
			<th scope="row">总价:</th>
			<td id="total_price_of_basket" class="ng-binding">
				¥258.90
		    	</td>
		   </tr>
		 </tfoot>
</table>
	<!-- ngIf: getContext().codLimitReached -->
				
			<button ng-click="proceedToCheckout()" class="button button-big" ng-disabled="getContext().cartEntries.length == 0 || (!isBrowserCompatible &amp;&amp; false)">
				前往结账</button> 
	</div>
		<p class="fine-print">价格和运费在结账时才会最终确认。</p>
		<p class="fine-print">
				您可以取消订单，前提是您希望退回的商品在不迟于您收到订单商品后的30天内送达给我们。您可在此找到退换货政策全文&nbsp;
				<a class="overlay-trigger underline" href="http://www2.hm.com/zh_cn/customer-service/return-link.html"> 退货和退款</a>
			</p>
		</div>
	<div class="product-warning notice responsive ng-hide" ng-show="!isBrowserCompatible &amp;&amp; false"><p class="text icon-notice normal">basket.page.disabled.button.description</p></div>
</div>
<!-- ngIf: getContext().messageToDisplayMap['Text_A'] --> 




















<style>
.agreement-link {
text-decoration: underline; 
}
.agreement-link:hover {
text-decoration: none; 
} 
</style>

 <form id="view-join-club-modal" ng-submit="createClubAccount()" aria-hidden="true" class="hidden modal-content create-account-modal ng-pristine ng-valid">
	<h2 class="heading">Join H&amp;M Club!</h2>
	<article class="hero-unit responsive ">
    	<header class="hero-logo icon-hm-club-logo-light">H&amp;M CLUB</header>
        <p class="hero-text">You have items in your shopping bag that are eligible for special Club prices. Join H&amp;M Club to get this deal!</p>   
    </article>
    <div class="modal-text">
    
    
    <div class="inputwrapper prefilled">		
				<h3 class="label">1996/05/03</h3>
				<div class="input-info">You have already entered your date of birth.</div>			
			</div>
    
    
		
   </div>
   <div class="sticky button-group">
		<div class="inputwrapper list-group required">
	      <ul class="input-list">
			<li class="item">
				<input class="checkbox-input ng-pristine ng-untouched ng-valid" type="checkbox" id="club-concent_0" name="club-concent" data-validation-required="true" ng-model="birthDateForm.consent">
                <label class="checkbox-label" for="club-concent_0">
				        
				        I accept the H&amp;M Club <a href="http://www2.hm.com/zh_cn/customer-service/club-terms-link.html" class="agreement-link overlay-trigger">Terms &amp; conditions </a> and I am  16 years old.
				</label>
			</li>
	</ul>
   </div>
	<p class="input-info">I am not interested in joining the H&amp;M Club at the moment.</p>
		<button class="modalclose button secondary" type="button" ng-click="denyClubBenefits()">Skip</button>
		<input class="button primary" type="submit" value="JOIN H&amp;M CLUB" data-custom-classname="content-fill no-border" data-validate-before-open-modal="true">
	
  </div>
</form>











<div id="confirm-modal" aria-hidden="true" class="hidden no-border modal-content create-account-modal">
	<div class="modal-text responsive">
		<h2 class="heading">Welcome to H&amp;M Club!</h2>
        
		<article class="hero-unit responsive ">
    	    <header class="hero-logo icon-hm-club-logo-light">H&amp;M CLUB</header>
            <p class="hero-text">You are now a member of H&amp;M Club. You can earn pointson everything you buy! Use&nbsp;your&nbsp;points to unlock customised offers,fashionable rewards and invitations to exclusive events.</p>
        </article>
	</div>
	<div class="sticky button-group">
		
		<button onclick="location.href = &#39;https://www2.hm.com/zh_cn/checkout&#39;;" class="modalclose button secondary">确认</button>
	</div>
</div>
	<section class="legaltext parbase section ng-hide" ng-show="containsYellowPrice">
	<h3 class="sub-sub-heading">CLUB BENEFITS</h3>
	<p class="text">Join the club to receive fantastic offers!</p>
	<p class="text">You can apply discount code for H&amp;M club in the checkout process</p>
	<p class="text">There are many club benefits.</p>
	<p class="text">You will get prompted to sign up for the club if you are not a club member and you have a club priced item in your shopping bag</p>
</section>



    
    
<!-- Only Content -->
<!--AEMPUBPRDAP15-->
<div class="parsys main"><section class="legaltext parbase section">
<h1 class="sub-sub-heading"></h1>
<p class="text"></p><p><b>请在结账时，在”支付”栏中点击编辑，添加折扣代码。、</b></p>
<p>&nbsp;</p>
<p><b>踏青特惠+包邮</b></p>
<p>购物满399元立减40元，使用代码5001</p>
<p>购物满599元立减80元，使用代码5002&nbsp;</p>
<p>购物满799元立减150元，使用代码5003</p>
<p>&nbsp;</p>
<p><b>退货和退款</b></p>
<p>如果要退货，请自行安排快递并承担快递费用。<a class="underline overlay-trigger" href="http://www2.hm.com/zh_cn/customer-service/return-link.html">在此处</a>了解更多有关退货和退款的信息。<br>
您的发票将会在您提出要求后，为您提供。在&nbsp;<a class="underline overlay-trigger" href="http://www2.hm.com/zh_cn/customer-service/fapiao.html">这里</a>&nbsp;了解更多有关发票的信息</p>
<div style="left: -10000px; top: 0px; width: 9000px; position: absolute;">时髦11.11 + 包邮</div>
<div style="left: -10000px; top: 0px; width: 9000px; position: absolute;">时髦11.11 + 包邮</div>
<p></p>	</section>

</div>

<!-- /Only Content -->

					 
				</div>
			</div>
			
			<div class="modaloverlay responsive ng-hide" ng-show="getContext().showPopup &amp;&amp; getContext().popupType==&#39;UPDATE_ENTRY&#39;">
	<div class="modalbackground"></div>
	<div class="modal responsive">
	<a class="modalclose icon-close-black" href="javascript:;"></a>
		<div class="modalwrap">
			<div class="modalcontents">
			<section class="responsive">
				<div class="shopping-bag-message">
					<h2 class="ng-binding"></h2>
					<p class="ng-binding"></p>
					<p class="shopping-bag-changed-availablity">
						</p><!-- ngRepeat: entry in getContext().cartModificationEntries -->	
					<p></p>
				<div class="buttons clearfix">
					<button ng-click="getContext().showPopup = false" class="modalclose button">确定</button>
				</div>
				</div>
			</section>
			</div>
		</div>
	</div>
</div>

<div class="hidden modal-content" id="error-popup">
	<div class="modal-text">
		<div class="shopping-bag-message">
			<h1 class="heading ng-binding"></h1>
			<p ng-bind-html="getContext().popupMessage" class="ng-binding"></p>
			<form class="ng-pristine ng-valid">
				<div class="sticky button-group">
					<button ng-click="closePopup()" class="modalclose button">确定</button>
				</div>
			</form>
		</div>	
	</div>
</div>
</main>
</block>