<extend name="Base:base" />
<block name="title">
	<title>Your Shopping Cart | H&amp;M CN</title>
</block>
<block name="main">
	<main role="main" class="favorites-active">
			<div class="wrapper">    
				<nav class="breadcrumbs">
					<ul>
	<li>
		<a href="http://www2.hm.com/zh_cn/">HM.COM</a>
	</li>

	<li class="active">

			<a href="http://www2.hm.com/zh_cn/cart#" onclick="return false;"> 购物袋</a>
				</li>
	</ul>
</nav>
				<script type="text/javascript">$("body").addClass("checkout-loader-layer");</script>
	<header class="checkout-header"><h1>购物袋</h1></header>	
		<div class="row sticky-wrapper ng-scope" ng-controller="CartContextController">
			<div class="grid col-8">
				<h2 class="visuallyhidden">购物袋商品</h2>
					<if condition="$data = 'empty' ">
						<div class="ng-scope">
							<div id="cartPage-body-empty" class="box">
								<div class="box-content shopping-bag-empty">
									<h2>您的购物袋是空的</h2>
									<div class="ng-scope">
										请登录保存商品到购物袋,或读取购物袋中已保存商品。 <br><br>
										<a href="__APP__/Home/User/signIn">登录</a>
									</div>
								</div>
							</div>
						</div>
					<else />
					<ul ng-if="getContext().cartEntries.length &gt; 0" class="product-detail-list responsive ng-scope" id="cartPage-items">
						<foreach name="$data.cartList" item="ov">
					<li class="product-detail-list-item ng-scope" id="0401021001" ng-repeat="entry in getContext().cartEntries" >
		<div class="product-detail-list-item-image-wrapper">
			<div class="wrapper-inner">
				<a href="http://www2.hm.com/zh_cn/productpage.0401021001.html" class="product-detail-list-item-image ">
					<img alt="{$ov.name}" title="{$ov.name}" class="product-detail-list-item-image-image" src="{$ov.pic}">
						 
			    </a>
			 </div>  
		</div>
		<div class="product-detail-list-item-details">
		
				<div class="product-detail-list-item-price-info">
					<p class="product-detail-list-item-total-price">
						总价：<span id="entry_new_price" class="ng-binding">¥{$ov.price * $ov.gnum}</span>
					</p>
				</div>
		
				<!-- ngRepeat: marker in entry.productMarker -->
							
				<h3 class="sub-sub-heading ng-binding">{$ov.name}</h3>
<div ng-hide="entry.isYellowPriceAvailable">
	<p class="product-detail-price ng-binding">
		¥{$ov.price}
	</p>
</div>

<p class="product-detail-selection">
					</p><div class="product-item-selection ng-binding"></div>
				<p></p>
				<dl class="product-detail-list-item-details-list">
					<dt>
						商品编号：</dt>
					<dd class="ng-binding">{$ov.gid}</dd>
					
					<dt>
						颜色：</dt>
					<dd class="ng-binding">{$ov.color}</dd>

					<dt>
						尺码：</dt>
					<dd class="ng-binding">{$ov.size}</dd>
				</dl>
				
			</div>
			<div class="product-detail-list-item-actions">
                <button class="button secondary icon icon-trash rm-btn" type="button" title="Remove product"  aid="{$ov.aid}" gid="{$ov.gid}""></button>
                <button class="button secondary icon icon-move-favorite ng-scope fav-btn" type="button" data-saved-text="Saved to favorites" data-not-saved-text="Not saved to favorites" title="Toggle favorite" aid="{$ov.aid}" gid="{$ov.gid}"></button>
                <label class="product-detail-list-item-actions-label" for="shopping-bag-quantity-options-4"></label>
				<div class="select-primary product-detail-list-item-quantity">
    				<select name="product-detail-list-item-quantity-options-4" id="shopping-bag-quantity-options-4" data-validation="false" ng-change="updateQuantity(entry,entry.quantity)" ng-model="entry.quantity" ng-options="option for option in range(entry.maxQuantity)" class="ng-pristine ng-untouched ng-valid num-sel"  aid="{$ov.aid}" gid="{$ov.gid}">
    					<if condition="$ov.stock egt 10">
    						<for start="1" end="11">
    							<option value="{$i}" <if condition="$i = $ov.stock">selected</if> label="{$i}">{$i}</option>
    						</for>
    					<else />
    						<for start="1" end="$ov.stock + 1">
    							<option value="{$i}" <if condition="$i = $ov.stock">selected</if> label="{$i}">{$i}</option>
    						</for>
    					</if>
    				</select>
				</div>
           	</div>
	</li>
						</foreach>
					</ul>
					</if>
			</div>
			<div id="cartPage-summary" class="grid col-4">
				<div style="" class="shopping-bag-order-total sticky-on-scroll semi-sticky" data-sticky-offset="-20" data-sticky-stop-offset="-70">
					<div class="box">
	<h2 class="box-headline">购物袋总金额</h2>
	<div class="box-content">
	<div class="shopping-bag-total">
		<table class="order-total">
	<tbody>
		<tr>
			<th scope="row">订单价值：</th>
			<td><span id="newPriceSubtotal" class="ng-binding">¥
				<if condition="$data = 'empty'">0.00
				<else />{$ov.totalPrice}
				</if>
			</span></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th scope="row">总价:</th>
			<td id="total_price_of_basket" class="ng-binding">
				¥<if condition="$data = 'empty'">0.00
				<else />{$ov.totalPrice}
				</if>
		    	</td>
		   </tr>
		 </tfoot>
</table>
				
			<button id="goToQuery" class="button button-big" <if condition="$data = 'empty'">disabled
				<else />
				</if>
				>
				前往结账</button> 
	</div>
		<p class="fine-print">价格和运费在结账时才会最终确认。</p>
		<p class="fine-print">
				您可以取消订单，前提是您希望退回的商品在不迟于您收到订单商品后的30天内送达给我们。您可在此找到退换货政策全文&nbsp;
				<a class="overlay-trigger underline" href="http://www2.hm.com/zh_cn/customer-service/return-link.html"> 退货和退款</a>
			</p>
		</div>
	<div class="product-warning notice responsive ng-hide" ng-show="!isBrowserCompatible &amp;&amp; false"><p class="text icon-notice normal">basket.page.disabled.button.description</p></div>
</div>



 <form id="view-join-club-modal" ng-submit="createClubAccount()" aria-hidden="true" class="hidden modal-content create-account-modal ng-pristine ng-valid">
	<h2 class="heading">Join H&amp;M Club!</h2>
	<article class="hero-unit responsive ">
    	<header class="hero-logo icon-hm-club-logo-light">H&amp;M CLUB</header>
        <p class="hero-text">You have items in your shopping bag that are eligible for special Club prices. Join H&amp;M Club to get this deal!</p>   
    </article>
    <div class="modal-text">
    
    
    <div class="inputwrapper prefilled">		
				<h3 class="label">1996/05/03</h3>
				<div class="input-info">You have already entered your date of birth.</div>			
			</div>
    
    
		
   </div>
   <div class="sticky button-group">
		<div class="inputwrapper list-group required">
	      <ul class="input-list">
			<li class="item">
				<input class="checkbox-input ng-pristine ng-untouched ng-valid" type="checkbox" id="club-concent_0" name="club-concent" data-validation-required="true" ng-model="birthDateForm.consent">
                <label class="checkbox-label" for="club-concent_0">
				        
				        I accept the H&amp;M Club <a href="http://www2.hm.com/zh_cn/customer-service/club-terms-link.html" class="agreement-link overlay-trigger">Terms &amp; conditions </a> and I am  16 years old.
				</label>
			</li>
	</ul>
   </div>
	<p class="input-info">I am not interested in joining the H&amp;M Club at the moment.</p>
		<button class="modalclose button secondary" type="button" ng-click="denyClubBenefits()">Skip</button>
		<input class="button primary" type="submit" value="JOIN H&amp;M CLUB" data-custom-classname="content-fill no-border" data-validate-before-open-modal="true">
	
  </div>
</form>











<div id="confirm-modal" aria-hidden="true" class="hidden no-border modal-content create-account-modal">
	<div class="modal-text responsive">
		<h2 class="heading">Welcome to H&amp;M Club!</h2>
        
		<article class="hero-unit responsive ">
    	    <header class="hero-logo icon-hm-club-logo-light">H&amp;M CLUB</header>
            <p class="hero-text">You are now a member of H&amp;M Club. You can earn pointson everything you buy! Use&nbsp;your&nbsp;points to unlock customised offers,fashionable rewards and invitations to exclusive events.</p>
        </article>
	</div>
	<div class="sticky button-group">
		
		<button onclick="location.href = &#39;https://www2.hm.com/zh_cn/checkout&#39;;" class="modalclose button secondary">确认</button>
	</div>
</div>
	<section class="legaltext parbase section ng-hide" ng-show="containsYellowPrice">
	<h3 class="sub-sub-heading">CLUB BENEFITS</h3>
	<p class="text">Join the club to receive fantastic offers!</p>
	<p class="text">You can apply discount code for H&amp;M club in the checkout process</p>
	<p class="text">There are many club benefits.</p>
	<p class="text">You will get prompted to sign up for the club if you are not a club member and you have a club priced item in your shopping bag</p>
</section>



    
    
<!-- Only Content -->
<!--AEMPUBPRDAP15-->
<div class="parsys main"><section class="legaltext parbase section">
<h1 class="sub-sub-heading"></h1>
<p class="text"></p><p><b>请在结账时，在”支付”栏中点击编辑，添加折扣代码。、</b></p>
<p>&nbsp;</p>
<p><b>踏青特惠+包邮</b></p>
<p>购物满399元立减40元，使用代码5001</p>
<p>购物满599元立减80元，使用代码5002&nbsp;</p>
<p>购物满799元立减150元，使用代码5003</p>
<p>&nbsp;</p>
<p><b>退货和退款</b></p>
<p>如果要退货，请自行安排快递并承担快递费用。<a class="underline overlay-trigger" href="http://www2.hm.com/zh_cn/customer-service/return-link.html">在此处</a>了解更多有关退货和退款的信息。<br>
您的发票将会在您提出要求后，为您提供。在&nbsp;<a class="underline overlay-trigger" href="http://www2.hm.com/zh_cn/customer-service/fapiao.html">这里</a>&nbsp;了解更多有关发票的信息</p>
<div style="left: -10000px; top: 0px; width: 9000px; position: absolute;">时髦11.11 + 包邮</div>
<div style="left: -10000px; top: 0px; width: 9000px; position: absolute;">时髦11.11 + 包邮</div>
<p></p>	</section>

</div>

<!-- /Only Content -->

					 
				</div>
			</div>
			
			<div class="modaloverlay responsive ng-hide" ng-show="getContext().showPopup &amp;&amp; getContext().popupType==&#39;UPDATE_ENTRY&#39;">
	<div class="modalbackground"></div>
	<div class="modal responsive">
	<a class="modalclose icon-close-black" href="javascript:;"></a>
		<div class="modalwrap">
			<div class="modalcontents">
			<section class="responsive">
				<div class="shopping-bag-message">
					<h2 class="ng-binding"></h2>
					<p class="ng-binding"></p>
					<p class="shopping-bag-changed-availablity">
						</p><!-- ngRepeat: entry in getContext().cartModificationEntries -->	
					<p></p>
				<div class="buttons clearfix">
					<button ng-click="getContext().showPopup = false" class="modalclose button">确定</button>
				</div>
				</div>
			</section>
			</div>
		</div>
	</div>
</div>

<div class="hidden modal-content" id="error-popup">
	<div class="modal-text">
		<div class="shopping-bag-message">
			<h1 class="heading ng-binding"></h1>
			<p ng-bind-html="getContext().popupMessage" class="ng-binding"></p>
			<form class="ng-pristine ng-valid">
				<div class="sticky button-group">
					<button ng-click="closePopup()" class="modalclose button">确定</button>
				</div>
			</form>
		</div>	
	</div>
</div>
</main>

<script>
	// 删除按钮
	$('.rm-btn').click(function () {
		var aid = $(this).attr('aid');
		var gid = $(this).attr('gid');

		$.get(
			'__CONTROLLER__/delFromCart',
			{
				aid:aid,
				gid:gid
			},
			function (data) {
				if (data == 2) {
					alert('系统繁忙，请稍后再试')
				} else {
					$('.visuallyhidden').next().remove();
					$('.visuallyhidden').after(data.mainCart);
					$('.shopping-bag-rollover-items-wrapper').child().remove();
					$('.shopping-bag-rollover-items-wrapper').append(data.topCart);
					$('.clearfix').child().find('dd').text('￥' + data.totalPrice);
					$('.shopping-bag-rollover-order-total').child().find('dd').text('￥' + data.totalPrice);
					$('#total_price_of_basket').text('￥' + data.totalPrice);
					$('#newPriceSubtotal').text('￥' + data.totalPrice);
					if (data.totalPrice == '0.00') {
						$('#goToQuery').attr('disabled', true);
					} else {
						$('#goToQuery').attr('disabled', false);
					}
				}
			},
			'json'
		);
	});

	// 去收藏按钮
	$('.fav-btn').click(function () {
		var aid = $(this).attr('aid');
		var gid = $(this).attr('gid');

		$.get(
			'__CONTROLLER__/cartToFav',
			{
				aid:aid,
				gid:gid
			},
			function (data) {
				if (data == 2) {
					alert('系统繁忙，请稍后再试');
				} else if (data == 3) {
					alert('请登录再进行操作');
				} else {
					$('.visuallyhidden').next().remove();
					$('.visuallyhidden').after(data.mainCart);
					$('.shopping-bag-rollover-items-wrapper').child().remove();
					$('.shopping-bag-rollover-items-wrapper').append(data.topCart);
					$('.clearfix').child().find('dd').text('￥' + data.totalPrice);
					$('.shopping-bag-rollover-order-total').child().find('dd').text('￥' + data.totalPrice);
					$('#total_price_of_basket').text('￥' + data.totalPrice);
					$('#newPriceSubtotal').text('￥' + data.totalPrice);

					if (data.totalPrice == '0.00') {
						$('#goToQuery').attr('disabled', true);
					} else {
						$('#goToQuery').attr('disabled', false);
					}
				}
			},
			'json'
		);
	});

	// 改变商品数量
	$('.num-sel').change(function () {
		var gnum = $(this).val();
		var aid = $(this).attr('aid');
		var gid = $(this).attr('gid');

		$.get(
			'__CONTROLLER__/changeNum',
			{
				gnum:gnum,
				aid:aid,
				gid:gid
			},
			function (data) {
				if (data == 2) {
					alert('系统繁忙，请稍后再试');
				} else {
					$('.visuallyhidden').next().remove();
					$('.visuallyhidden').after(data.mainCart);
					$('.shopping-bag-rollover-items-wrapper').child().remove();
					$('.shopping-bag-rollover-items-wrapper').append(data.topCart);
					$('.clearfix').child().find('dd').text('￥' + data.totalPrice);
					$('.shopping-bag-rollover-order-total').child().find('dd').text('￥' + data.totalPrice);
					$('#total_price_of_basket').text('￥' + data.totalPrice);
					$('#newPriceSubtotal').text('￥' + data.totalPrice);

					if (data.totalPrice == '0.00') {
						$('#goToQuery').attr('disabled', true);
					} else {
						$('#goToQuery').attr('disabled', false);
					}
				}
			},
			'json'
		);
	});
</script>
</block>