<extend name="Backstage/base" />
<block name="title">
  <title>修改大图</title>
</block>
<block name="content" >
<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 修改大图</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">修改大图</a></dl>

      
      
    </div>
	
    <div class="fbneirong">
      <form class="am-form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$list.id}">
        <div class="am-form-group am-cf">
            <div class="zuo">大图位置：</div>
            <div class="you" style="margin-top: 5px;">
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 1 ">checked</if> value="1">1
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 2 ">checked</if> value="2">2
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 3 ">checked</if> value="3">3
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 4 ">checked</if> value="4">4
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 5 ">checked</if> value="5">5
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 6 ">checked</if> value="6">6
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 7 ">checked</if> value="7">7
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 8 ">checked</if> value="8">8
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 9 ">checked</if> value="9">9
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 10 ">checked</if> value="10">10
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="location" <if condition="$list.location eq 11 ">checked</if> value="11">11
              </label>
            </div>
        </div>
        <div class="am-form-group am-cf">
            <div class="zuo">字体颜色：</div>
            <div class="you" style="margin-top: 5px;">
              <label class="am-radio-inline">
                <input type="radio" name="fontcolor" <if condition="$list.fontcolor eq 1 ">checked</if> value="1">black
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="fontcolor" <if condition="$list.fontcolor eq 2 ">checked</if> value="2">white
              </label>
            </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">小标题：</div>
          <div class="you">
            <input type="text" class="am-input-sm" id="doc-ipt-text-1" name="smalltitle" value="{$list.smalltitle}" placeholder="请输入小标题">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">大标题：</div>
          <div class="you">
            <input type="text" class="am-input-sm" id="doc-ipt-text-1" name="bigtitle" value="{$list.bigtitle}" placeholder="请输入大标题">
          </div>
        </div>
        <div class="am-form-group am-cf">
            <div class="zuo">对齐方式：</div>
            <div class="you" style="margin-top: 5px;">
              <label class="am-radio-inline">
                <input type="radio" name="align" <if condition="$list.align eq 1 ">checked</if> value="1">left
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="align" <if condition="$list.align eq 2 ">checked</if> value="2">center
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="align" <if condition="$list.align eq 3 ">checked</if> value="3">right
              </label>
            </div>
        </div>
        <div class="am-form-group am-cf">
            <div class="zuo">按钮颜色：</div>
            <div class="you" style="margin-top: 5px;">
              <label class="am-radio-inline">
                <input type="radio" name="btncolor" <if condition="$list.btncolor eq 1 ">checked</if> value="1">black
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="btncolor" <if condition="$list.btncolor eq 2 ">checked</if> value="2">white
              </label>
            </div>
        </div>
        <div class="am-form-group am-cf">
            <div class="zuo">水平位置：</div>
            <div class="you" style="margin-top: 5px;">
              <label class="am-radio-inline">
                <input type="radio" name="hor" <if condition="$list.hor eq 1 ">checked</if> value="1">left
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="hor" <if condition="$list.hor eq 2 ">checked</if> value="2">center
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="hor" <if condition="$list.hor eq 3 ">checked</if> value="3">right
              </label>
            </div>
        </div>
        <div class="am-form-group am-cf">
            <div class="zuo">垂直位置：</div>
            <div class="you" style="margin-top: 5px;">
              <label class="am-radio-inline">
                <input type="radio" name="ver" <if condition="$list.ver eq 1 ">checked</if> value="1">top
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="ver" <if condition="$list.ver eq 2 ">checked</if> value="2">middle
              </label>
              <label class="am-radio-inline">
                <input type="radio" name="ver" <if condition="$list.ver eq 3 ">checked</if> value="3">bottom
              </label>
            </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">大图图片：</div>
          <div class="you" style="height: 45px;">
            <input type="file" id="doc-ipt-file-1" name="pic">
            <p class="am-form-help">请选择要上传的文件...</p>
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">URL：</div>
          <div class="you">
            <input type="url" class="am-input-sm" id="doc-ipt-text-1" name="url" value="{$list.url}" placeholder="请输入URL">
          </div>
        </div>
        <div class="am-form-group am-cf">
        	<div class="zuo">状态：</div>
	        <div class="you" style="margin-top: 5px;">
	          <label class="am-radio-inline">
	            <input type="radio" name="status" <if condition="$list.status eq 1 ">checked</if> value="1">显示
	          </label>
	          <label class="am-radio-inline">
	            <input type="radio" name="status" <if condition="$list.status eq 2 ">checked</if> value="2">不显示
	          </label>
	        </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;">
              <button type="submit" class="am-btn am-btn-success am-radius">添加</button>
          </div>
        </div>
      </form>
    </div>
</div>
</block>