<extend name="Backstage/base" />
<block name="title">
  <title>大图列表</title>
</block>
<block name="content">
<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 大图列表</ul>
      
      <dl class="am-icon-home" style="float: right;">当前位置： 首页 > <a href="#">大图列表</a></dl>
      <!--这里打开的是新页面-->
    </div>
    <form class="am-form am-g">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
            <thead>
              <tr class="am-success">
                <th class="table-check"></th>
                <th class="table-id">序号</th>
                <th class="table-author am-hide-sm-only">小标题</th>
                <th class="table-author am-hide-sm-only">大标题</th>
                <th class="table-author am-hide-sm-only">缩略图</th>
                <th class="table-author am-hide-sm-only">链接地址</th>
                <th class="table-author am-hide-sm-only">状态</th>
                <th class="table-date am-hide-sm-only">添加日期</th>
                <th width="130px" class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
              <foreach name="list" item="ov" >
                <tr>
                  <td><input type="checkbox" value="{$ov.id}" /></td>
                  
                  <td>{$ov.id}</td>
                  <td>{$ov.smalltitle}</td>
                  <td>{$ov.bigtitle}</td>
                  <td><img src="__PUBLIC__{$ov.pic}" alt="" height="50"></td>
                  <td class="am-hide-sm-only">{$ov.url}</td>
                  <td class="am-hide-sm-only">{$ov.status}</td>
                  <td class="am-hide-sm-only">{$ov.addtime}</td>
                  <td>
                  	
                  	
                        	
                  	<div class="am-btn-toolbar">
                      <div class="am-btn-group am-btn-group-xs">
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-round mo-btn" data-am-modal="{target: '#my-popups'}" pid={$ov.id} title="修改大图"><span class="am-icon-pencil-square-o"></span></button>
                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-round rm-btn" pid="{$ov.id}" title="删除大图"><span class="am-icon-trash-o" ></span></button>
                      </div>
                    </div>
                  	
                  	
                  	
                  	
                  	
                  	
                  </td>
                </tr>
              </foreach>
            </tbody>
          </table>
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default" id="selectAllBtn"><span class="am-icon-plus"></span> 全选</button>
              <button type="button" class="am-btn am-btn-default" id="revSelectBtn"><span class="am-icon-plus"></span> 反选</button>
              <button type="button" class="am-btn am-btn-default" id="allNotBtn"><span class="am-icon-plus"></span> 全不选</button>
              <button type="button" class="am-btn am-btn-default" id="deleteSelect"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
          
          {$pageBtn}
          
          
      
          <hr />
          <p>注：.....</p>
        </form>
</div>

<script>
  $('.mo-btn').click(function () {
    var pid = $(this).attr('pid');

    location.href = "__CONTROLLER__/editIndexPic/id/" + pid;

    return false;
  });

  $('.rm-btn').click(function () {
    var that = $(this);

    var id = $(this).attr("pid");

    var bool = confirm('此操作无法恢复，确定删除？');

    if (bool) {
      $.get(
        '__CONTROLLER__/deleteIndexPic',
        {id:id},
        function (data) {
          if (data == 1) {
            that.parent().parent().parent().parent().remove();
          } else {
            alter('操作失败，请稍后再试。');
          }
        },
        'json'
      );
    };

    return false;
  });

  $('#selectAllBtn').click(function () {
    $('input[type=checkbox]').prop('checked', true);
  });

  $('#revSelectBtn').click(function () {
    $('input[type=checkbox]').each(function () {
      $(this).prop('checked', !$(this).prop('checked'));
    });
  });

  $('#allNotBtn').click(function () {
    $('input[type=checkbox]').removeAttr('checked');
  });

  $('#deleteSelect').click(function () {
    var ids = '';

    if ($('input:checked').length == 0) {
      alert('请选择要删除的大图。');

      return false;
    }

    var bool = confirm('此操作无法恢复，确定删除？');

    if (bool) {
      $('input:checked').each(function () {
        ids += $(this).val() + ',';
      });
      
      $.post(
        '__CONTROLLER__/multipleDelete',
        {ids:ids},
        function (data) {
          if (data == 1) {
              $('input:checked').parent().parent().remove();
            } else {
              alter('操作失败，请稍后再试。');
            }
          },
          'json'
      );
    }
  });

</script>


</block>