
<extend name="Base:base" />

    <block name="title"><title>H&M.Personal</title></block>

    <block name="main"> 

		<main role="main" class="hm-club-overview my-hm responsive">
			<div class="wrapper">    
				<nav class="breadcrumbs">
					<ul>
						<li>										
							<a href="__APP__/Home/Index/index">HM.COM</a>
						</li>

						<li class="">
							<a href="javascript:;"> 您的账户</a>
						</li>
						<li class="active">

							<a href="#" onclick="return false;"> 概览</a>
						</li>
					</ul>
				</nav>
				<nav class="section navigation menu " role="navigation">
					<ul role="menu">
						<li class="current item" role="presentation" tabindex="0">
							<a href="" role="menuitem">概览</a>						
						</li>
						<li class="item" role="presentation" tabindex="-1">
							<a href="__URL__/account" role="menuitem">个人信息</a>					
						</li>
						<li class="item" role="presentation" tabindex="-1">
							<a href="/zh_cn/my-account/orders" role="menuitem">订单</a>
					
						</li>
						<li class="item" role="presentation" tabindex="-1">
							<a href="/zh_cn/my-account/address-book" role="menuitem">地址簿</a>
						</li>
			
						<li class="item" role="presentation" tabindex="-1">
							<a href="/zh_cn/my-account/payment-details" role="menuitem">银行卡信息</a>
						</li>			
					</ul>
				</nav>
				<div class="layout" ng-controller="MyOverviewController">
					<div class="modules sidebarpluscontent">

						<aside role="presentation">
						<section class="responsive club-user">
							<div class="greeting">
								<header class="module-heading">
									<h1 class="module-heading-title"> 您好！{$user['nickname']}</h1>
								</header>
								<div class="module-content">
									<p>您好！这里是您的 H&M 个人控制面板，您可在此处更新个人详情、付款信息或查看订单。</p>
								</div>
							</div>
							<header class="module-heading">
								<h1 class="module-heading-title" id="personal-details-title">
									个人信息
								</h1>
							</header>

							<div class="module-content">
								<dl role="person" class="user-details">								
									<dt>
										电子邮箱
									</dt>

									<dd>
										<span>{$user.email}</span>
									</dd>

									
										<dt>
											电话号码
										</dt>
										<dd>{$user.phone}</dd>
									<dt>
											注册日期
										</dt>
										<dd>{$user.addtime}</dd>									
								</dl>
							</div>
							
							<a href="__URL__/account" id="personal-details-title-link"
								class="navigate button"
								aria-labelledby="personal-details-title personal-details-title-link"
								title="View all personal details">查看更多</a>
						</section>

						</aside>
						<div>

							<section class="responsive orders-summary">
								<header class="module-heading ">
									<h1 class="module-heading-title">
										订单
									</h1>
									
									
									<a href="/zh_cn/my-account/orders" class="view-all link" title="View all orders">查看所有订单</a>
								</header>
								<div class="module-content">
								
									<a href="/zh_cn/my-account/orders" class="navigate button" title="View all orders">查看所有订单</a>
								</div>
							</section>
							<div class="two modules">
								<section class="responsive club-address">
									<header class="module-heading">
										<h1 class="module-heading-title" id="address-book-title">
											地址簿
										</h1>
										
										<a href="/zh_cn/my-account/address-book" class="view-all link" id="address-book-title-link" aria-labelledby="address-book-title address-book-title-link"
											title="View all addresses">查看所有</a>
									</header>
									<div class="module-content">
										
										<address itemscope="" class="address-summary"
											itemtype="http://schema.org/person">
											<div class="item">
												<div class="address-item-street" itemprop="streetAddress">  </div>
											</div>
										</address>
									</div>
									<a href="/zh_cn/my-account/address-book" class="navigate button" title="View all addresses">查看所有</a>
								</section>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</main>
</block>