
<extend name="Base:base" />

    <block name="title"><title>H&M.Update Password</title></block>

    <block name="main"> 

                    
    <main role="main" class="responsive my-hm password-reset">
			<div class="wrapper">    
				<nav class="breadcrumbs">
					<ul>
	<li>
	
		<a href="/zh_cn/">HM.COM</a>
	</li>

	<li class="">

			<a href="/zh_cn/my-account"> 您的账户</a>
				</li>
	<li class="active">

			<a href="#" onclick="return false;"> 更新密码</a>
				</li>
	</ul>
</nav>
				
 
	<div class="wrapper">
	 <div class="layout layout-eight">
		<header class="page-header">
  				<h1 class="heading">更改密码</h1>
		</header>
			<form id="updatePasswordForm" class="form-section half-size" autocomplete="off">
						<div class="inputwrapper required">
						<label class="label" for="password-input">旧密码</label>
							<input type="password" class="password-input" id="password-input"
								name="currentPassword"
							    maxlength="25"
								 />
						</div>
						<div class="inputwrapper required">
						<label class="label" for="txt-password">新密码</label>
							<input type="password" class="password-input" id="txt-password"
								
								name="newPassword"
								 />
								<div class="input-info">密码至少需要6位字符</div>
						</div>
						<div class="inputwrapper required">
						<label class="label" for="txt-password-confirm">确认新密码</label>
							<input type="password" class="password-input" id="txt-password-confirm"
								name="checkNewPassword"
								maxlength="25"
								 />
								<div class="input-info">密码至少需要6位字符</div>
						</div>
						
						<p>
							<span class="input-info invalid field-validation-message skip">
								
							</span>
						</p>						
						<button type="button" id ="saveBtn"class="button">保存 </button>
							
		
            </form>
		  </div>
	   </div>
    </div>
    	<script>

    		$('#saveBtn').click( function () {

    			$.post('__URL__/updatePassword', {

    				'oldpass':$('#password-input').val(),

    				'newpass':$('#txt-password').val(),

    				'checkpass':$('#txt-password-confirm').val(),

    			}, function (data) {

    				if (data  == 0) {

    					show_msg('修改失败');

    				} else if(data == 2) {

    					show_msg('确认密码和新密码不一致');

    				} else if(data == 1) {

    					show_msg('修改成功');

    				} else if (data == 3) {

    					show_msg('密码输入错误');

    				}


    			}, 'json');	
    		

    		});


	    	function show_msg(msg){	

			 $('body').append('<div class="sub_err" style="position:absolute;top:60px;left:0;width:500px;z-index:999999;"></div>');

				var htmltop='<div class="bac" style="padding:8px 0px;border:1px solid #090;width:100%;margin:0 auto;background-color:white;color:#0d0d0d;border:2px black solid;text-align:center;font-size:16px;">';

				var htmlfoot = '</div>';

				$('.sub_err').html(htmltop+msg+htmlfoot); 

				var left=($(document).width()-500)/2;

				$('.sub_err').css({'left':left+'px'});

				var scroll_height=$(document).scrollTop();

				 $('.sub_err').animate({'top': scroll_height+120},100);

				 msgdsq=setTimeout(function(){	

					$('.sub_err').animate({'top': scroll_height+80},100);

					setTimeout(function(){	

				 	 $('.sub_err').remove();	

			   		},100);	 
			   
				}, "1200");  
			}


    	</script>
</main>
</block>