<extend name="Backstage/base" />
<block name="title">
	<title>添加商品管理</title>
</block>
<block name="content">
<div class="admin-biaogelist">

    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 栏目名称</ul>

      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">商品列表</a></dl>



    </div>

    <div class="fbneirong">
      <form class="am-form" action="__URL__/addGood" method="post">
        <div class="am-form-group am-cf">
          <div class="zuo">商品名：</div>
          <div class="you">
            <input type="text" class="am-input-sm" id="doc-ipt-email-1" placeholder="请输入名称" name="name">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">价格：</div>
          <div class="you">
            <input type="text" class="am-input-sm" id="doc-ipt-email-1" placeholder="请输入价格" name="price">
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">描述：</div>
          <div class="you">
            <textarea class="" rows="2" id="doc-ta-1" name="des"></textarea>
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">上架/下架：</div>
          <div class="you">
            <select name="status">
              <option value="1">上架</option>
              <option value="2">下架</option>
            </select>
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">分类：</div>
          <div class="you">
            <select name="tid">
            <!-- 查询分类表 -->
              <option value="0">小米</option>
            </select>
          </div>
        </div>
<!--         <div class="am-form-group am-cf">
          <div class="zuo">缩略图：</div>
          <div class="you"><input type="file" id="doc-ipt-file-1" name="pic[]"> </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">产品图片：</div>
          <div class="you" style="height: 45px;">
            <input type="file" id="doc-ipt-file-1">
            <p class="am-form-help">请选择要上传的文件...</p>
          </div>
        </div> -->



        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;">
              <button type="submit" class="am-btn am-btn-success am-radius">发布</button><!-- &nbsp;  &raquo; &nbsp; <button type="submit" class="am-btn am-btn-secondary am-radius">发布并继续发布</button>
 -->
          </div>
        </div>
      </form>
    </div>


</block>
