<extend name="Backstage/base" />
<block name="title">
	<title>客服管理</title>
</block>
<block name="content">
 <div class="admin-biaogelist">
      <div class="listbiaoti am-cf">
        <ul class="am-icon-flag on">
          客服管理
        </ul>
        <dl class="am-icon-home" style="float: right;">
          当前位置： 首页 > <a href="#">客服列表</a>
        </dl>
        
        <!--data-am-modal="{target: '#my-popup'}" 弹出层 ID  弹出层 190行 开始  271行结束--> 
        
      </div>
      <form action="__CONTROLLER__/deleteTypeAll" method="post" class="am-form am-g">
        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
          <thead>
            <tr class="am-success">
            
              <th class="table-id am-text-center">等待连线中客户ID</th>
            </tr>
          </thead>

          <tbody id="tbody">
            
                <tr><td class="am-text-center"></td></tr>
            
          </tbody>

          <script>
            var url = "ws://120.24.57.54:8282/";  
            var ws = new WebSocket(url); 
            var s = 0;
            var cid = '';
            if (ws.readyState == 0) {
              console.log('正在建立连接');
              

            }

            ws.onopen = function (e) {
              console.log('连接成功');
              ws.send('admin');

            }

            ws.onmessage = function (e) {
              $('#tbody tr').remove();
              var data = JSON.parse(e.data);

              for ( var i = 0; i < data.userNum.length; i++ ) {

                $('#tbody').append("<tr><td class='am-text-center'>用户cid<a href='__CONTROLLER__/chat/cid/" + data.userNum[i] + "' >" + data.userNum[i] + "</a></td></tr>");
                
              }


              
            }
          </script>
        </table>
      
       <!--  <ul class="am-pagination am-fr">
          <li class="am-disabled"><a href="#">«</a></li>
          <li class="am-active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul> -->
        <hr />
        <!-- <p>
        备注：操作图标含义
         <a class="am-text-success am-icon-file" title="添加子栏目"> 添加子栏目</a> 
         <a class="am-icon-pencil-square-o am-text-secondary" title="修改"> 修改栏目</a> 
         <a class="am-icon-trash-o am-text-danger" title="删除"> 删除栏目</a>
 -->         

        
        
        
        
        </p>
      </form>

     
     
</block>