<extend name="Backstage/base" />
<block name="title">
	<title>添加商品管理</title>
</block>
<block name="content">
<div class="admin-biaogelist">

    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 栏目名称</ul>

      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="__APP__/HMadmin/Goods/Index">商品列表</a></dl>



    </div>

    <div class="fbneirong">
      <form class="Forms am-form" action="__CONTROLLER__/goodsEdit" method="post">
        <div class="am-form-group am-cf">
          <div class="zuo">商品名：</div>
          <div class="you">
            <input type="text" class="am-input-sm" id="doc-ipt-email-1" placeholder="请输入名称" name="name" value="{$goodData.name}">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">价格：</div>
          <div class="you">
            <input type="text" class="am-input-sm" id="doc-ipt-email-1" placeholder="请输入价格" name="price" value="{$goodData.price}">
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">描述：</div>
          <div class="you">
            <textarea class="" rows="2" id="doc-ta-1" name="des">{$goodData.des}</textarea>
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">商品详情：</div>
          <div class="you">
            <textarea class="" rows="2" id="doc-ta-1" name="detail">{$goodData.detail}</textarea>
          </div>
        </div>






        <div class="am-form-group am-cf">
          <div class="zuo">在售/下架：</div>
          <div class="you">
            <select name="status">

                <option class="staop" value="1">在售</option>

                <option class="staop" value="2">下架</option>

            </select>
          </div>
        </div>

        <div class="am-form-group am-cf">
          <div class="zuo">分类：</div>
          <div class="you">
            <select name="tid">

              <foreach name="type" item="vi">
              <option class="tidop" value="{$vi.id}">{$vi.name}</option>
              </foreach>
            </select>
          </div>
        </div>

        <!-- <div class="am-form-group am-cf">
          <div class="zuo">缩略图：</div>
          <div class="you"><input type="file" id="doc-ipt-file-1" name="pic[]"> </div>
        </div> -->
        <div class="am-form-group am-cf">
          <div class="zuo">产品图片：</div>
          <div class="you" style="height: 145px;">
            <foreach name="goodData['pic']" item="vp">

              <img src="__PUBLIC__/{$vp.pic}" alt="" width="100">&nbsp;<a href="javascript:;" style="position:relative;top:80px;left:-55px;" class="editdel">x</a>
              <!-- <input type="hidden" name="pic[]" value="./{$vp.pic}"> -->
            </foreach>

          </div>
        </div>
        <script type="text/javascript">
        //ajax删除图片
          var url = "__CONTROLLER__/editDelPic";

          $('.editdel').on('click', function() {

            var that = $(this);

            $.get(url, {pic:$(this).prev('img')[0].src}, function(data) {

              if (data == 1) {

                $(that.prev('img')[0]).remove();//删除图片

                // that.next('input').remove();//删除隐藏域

                that.remove();//删除x

              }

            }, 'json');

          });
        </script>

        <div class="am-form-group am-cf">
          <div class="zuo">更新图片：</div>
          <div class="you" style="height: 45px;">
            <div class="dropzone"></div>
          </div>
        </div>
        <!-- 图片上传 -->
        <script>
          //防止报"Dropzone already
          Dropzone.autoDiscover = false;

          $(".dropzone").dropzone({

            url:"__URL__/upload/",

            //是否显示删除图片按钮
            addRemoveLinks:true,

             //删除按钮样子
            dictRemoveLinks: "x",

            //取消上传样式
            dictCancelUpload: "x",

            paramName: "pic",

            //上传数
            maxFiles: 10,

            //每张大小
            maxFilesize: 5,

            acceptedFiles: "image/*",
            init: function() {

              this.on("success", function(file, res) {

                var obj = JSON.parse(res);

                //res为dropzone.js返回的图片路经
                file.path = res;

                //拿到图片路劲
                var filePath = obj['details'].savepath + obj['details'].savename;

                if ( obj.status == 200 ) {
                  //将服务器得到的数据生成一个隐藏域。做商品添加的时候就可以获取到了
                  var input = '<input type="hidden" name="pic[]" value="'+filePath+'" />';

                  $('.Forms').append(input);

                } else {

                  alert('上传失败');
                }

              })

              //每次删除图片触发
              this.on("removedfile", function(file) {

                $('.Forms>input').last().remove();

                var filePath = JSON.parse(file.path, true);

                filePath = filePath['details'].savepath + filePath['details'].savename;

                $.ajax({

                  url: "__CONTROLLER__/deletePic",
                  type: "post",

                  //file.path可以获取到点击删除按钮的那张图片
                  data: { 'path': filePath }
                });

              });

            }
          });
        </script>
        <script>

          //默认选中selected

          var typeName = [{$goodData['tid']}];

          for ( var i=0; i<$('.tidop').length; i++ ) {

            if ( typeName == $('.tidop').eq(i).val() ) {

              $('.tidop').eq(i).attr('selected', true);
            }
          }

          var status = [{$goodData['status']}];

          for ( var i=0; i<$('.staop').length; i++ ) {

            if ( status == $('.staop').eq(i).val() ) {

              $('.staop').eq(i).attr('selected', true);
            }
          }
        </script>

        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;margin-top: 9%;">
              <button type="submit" class="am-btn am-btn-success am-radius">更新</button>
          </div>
        </div>
        <input type="hidden" name="id" value="{$goodData['id']}">
      </form>
    </div>


</block>
