<extend name="Backstage/base" />
<block name="title">
	<title>商品管理</title>
</block>
<block name="content">
<div class="admin-biaogelist">

    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 栏目名称</ul>

      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="__APP__/HMadmin/Goods/Index">商品列表</a></dl>

      <dl>
        <a href="__APP__/HMadmin/Goods/addGood"><button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"> 添加产品</button></a>
      </dl>


    </div>

	<div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
  <ul>
    <li>
      <div class="am-btn-group am-btn-group-xs">
        <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
          <option value="b">产品分类</option>
          <option value="o">下架</option>
        </select>
      </div>
    </li>
    <li>
      <div class="am-btn-group am-btn-group-xs">
      <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
        <option value="b">产品分类</option>
        <option value="o">下架</option>
      </select>
      </div>
    </li>
    <li style="margin-right: 0;">
    	<span class="tubiao am-icon-calendar"></span>
      <input type="text" class="am-form-field am-input-sm am-input-zm  am-icon-calendar" placeholder="开始日期" data-am-datepicker="{theme: 'success',}"  readonly/>
    </li>
       <li style="margin-left: -4px;">
    	<span class="tubiao am-icon-calendar"></span>
      <input type="text" class="am-form-field am-input-sm am-input-zm  am-icon-calendar" placeholder="开始日期" data-am-datepicker="{theme: 'success',}"  readonly/>
    </li>

        <li style="margin-left: -10px;">
      <div class="am-btn-group am-btn-group-xs">
      <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
        <option value="b">产品分类</option>
        <option value="o">下架</option>
      </select>
      </div>
    </li>
    <form action="__CONTROLLER__/index" method="get">
    <li><input type="text" class="am-form-field am-input-sm am-input-xm" placeholder="关键词搜索" name="name" /></li>
    <li><button type="submit" class="am-btn am-radius am-btn-xs am-btn-success" style="margin-top: -1px;">搜索</button></li>
    </form>
  </ul>
</div>


    <form class="am-form am-g" action="__CONTROLLER__/deleteAll" method="post">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
              <tr class="am-success">
                <th class="table-check"><input type="checkbox" name="checkboss" /></th>
                <th class="table-title">序号</th>
                <th class="table-title">商品名</th>
                <th class="table-title">价格</th>
                <th class="table-type">一级</th>
                <th class="table-type">描述</th>
                <th class="table-type">颜色/尺码/库存</th>
                <th class="table-type">详情</th>
                <th class="table-type">状态</th>
                <th class="table-type">此商品图片详情</th>
                <th class="table-type">点击量</th>
                <th class="table-type">销售量</th>
                <th class="table-title">修改时间</th>
              <!--   <th class="table-author am-hide-sm-only">上架/下架 <i class="am-icon-check am-text-warning"></i> <i class="am-icon-close am-text-primary"></i></th>
                <th class="table-date am-hide-sm-only">修改日期</th> -->
                <th width="163px" class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
            <foreach name="goodsList" item="vo" key="k">
              <tr>
                <td><input type="checkbox" name="checkson[]" value="{$vo.id}" /></td>
                <!-- <td><input type="text" class="am-form-field am-radius am-input-sm"/></td> -->
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.price}</td>
                <td>{$vo.tid}</td>
                <!-- <td class="am-hide-sm-only"><i class="am-icon-check am-text-warning"></i></td> -->
                <td class="am-hide-sm-only">{$vo.des}</td>
                <td><a href="__CONTROLLER__/stockDeatil/gid/{$vo.id}">库存详情</a></td>
                <td class="am-hide-sm-only">{$vo['detail'][0].detail}</td>
                <td class="goodtr"><a href="javascript:;" value="{$vo.id}">{$vo.status}</a></td>
                <td><a href="__CONTROLLER__/goodsDetail/id/{$vo.id}">详情图</a></td>
                <td>{$vo.viewtimes}</td>
                <td>{$vo.saled}</td>
                <td>{$vo.addtime}</td>

                <td><div class="am-btn-toolbar" data-num="{$k}">
                    <div class="am-btn-group am-btn-group-xs">
                      <a href="__CONTROLLER__/goodsEdit/id/{$vo.id}" class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"><span class="am-icon-pencil-square-o"></span></a>
                      <!-- <button class="am-btn am-btn-default am-btn-xs am-text-warning  am-round"><span class="am-icon-copy"></span></button> -->
                      <a href="javascript:;" class="del am-btn am-btn-default am-btn-xs am-text-danger am-round"  data-id="{$vo.id}"><span class="am-icon-trash-o"></span></a>
                    </div>
                  </div></td>


              </tr>
            </foreach>


            </tbody>
          </table>

                 <div class="am-btn-group am-btn-group-xs">


              <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus" style="color:lime"><a href="__APP__/HMadmin/Goods/addGood" style="color:lime"> 新增</a></span></button>
              <button type="submit" class="delAll am-btn am-btn-default"><span class="am-icon-trash-o" style="color:red"> 批量删除</span></button>
            </div>

          <ul class="am-pagination am-fr">
                {$show}
              </ul>

            <script>
            // ajax删除

              $('.del').on('click', function () {

                var url = '__URL__/ajaxDelete';

                var that = $(this);

                $.get(url, {'id':$(this).attr('data-id')}, function (data) {

                  if (data == 1) {

                    that.parent().parent().parent().parent().remove();

                  }

                }, 'json');

              });

              //反选
              $('input[name="checkboss"]').on('click', function() {

                var inputs = $('input[name="checkson[]"]');

                var checked = false;

                var ids = '';

                for (var i=0; i<inputs.length; i++) {

                  inputs[i].checked = !inputs[i].checked;
                }

              });

              //delAll
              $('.delAll').click(function() {

                if (confirm('are you sure ?')) {
                  return true;

                } else {

                  return false;
                }
              });

            </script>
            <script>
            //ajax修改状态

              $('.goodtr').on('click', function() {

                var url = '__CONTROLLER__/editStatus';

                var that = $(this);
                // console.log(that.children().attr('value'));

                $.get(url, {'status':(that.children().html()), 'id':that.children().attr('value')}, function(data) {

                  if (data == 1) {

                    that.children().html('在售中');

                  } else {

                    that.children().html('已下架');
                  }

                }, 'json')


              });

            </script>

          <hr />
          <p>注：<span class="am-icon-pencil-square-o">编辑</span>&nbsp; <span class="am-icon-trash-o">删除</span></p>
    </form>



</block>
