<extend name="Backstage/base" />
<block name="title">
	<title>商品分类管理</title>
</block>
<block name="content">
 <div class="admin-biaogelist">
      <div class="listbiaoti am-cf">
        <ul class="am-icon-flag on">
          商品分类栏目管理
        </ul>
        <dl class="am-icon-home" style="float: right;">
          当前位置： 首页 > <a href="#">分类列表</a>
        </dl>
        <dl>
          <a href="__CONTROLLER__/showAddType" type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus" data-am-modal="{target: '#my-popup'}">添加商品一级分类</a>
        </dl>
        <!--data-am-modal="{target: '#my-popup'}" 弹出层 ID  弹出层 190行 开始  271行结束--> 
        
      </div>
      <form action="__CONTROLLER__/deleteTypeAll" method="post" class="am-form am-g">
        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
          <thead>
            <tr class="am-success">
              <th class="table-check"><input id="checkBox" type="checkbox" /></th>
              <th class="table-id am-text-center">ID</th>
              <th class="table-id am-text-center">父类ID</th>
              <th class="table-id am-text-center">路径</th>
              <th class="table-title">栏目名称</th>
              <th width="163px" class="table-set">操作</th>
            </tr>
          </thead>
          <tbody>
            <!-- 循环 -->
            <foreach name="typeList" item="v">
                <tr>
                  <td><input type="checkbox" name="ids[]" value="{$v.id}" /></td>
                  <td class="am-text-center">{$v.id}</td>
                  <td class="am-text-center">{$v.pid}</td>
                  <td class="am-text-center">{$v.path}</td>
                  <td>
                      <if condition="$v.path neq '0,'">　├─{$v.name}
                      <else />{$v.name}
                      </if>
                  </td>
                  <td><div class="am-btn-toolbar">
                      <div class="am-btn-group am-btn-group-xs">
                      <a href="__CONTROLLER__/showAddType/id/{$v.id}/path/{$v.path}" class="am-btn am-btn-default am-btn-xs am-text-success am-round am-icon-file" data-am-modal="{target: '#my-popups'}" title="添加子栏目"></a>
                        <button class="modifyBtn am-btn am-btn-default am-btn-xs am-text-secondary am-round" onclick="return false" data-id="{$v.id}" title="修改"><span class="am-icon-pencil-square-o" ></span></button>             
                        <a href="__CONTROLLER__/deleteTypeOne/id/{$v[id]}" class="deleteBtn am-btn am-btn-default am-btn-xs am-text-danger am-round"  title="删除"><span class="am-icon-trash-o"></span></a>
                      </div>
                    </div></td>
                </tr>
            
           </foreach>
          
          
          </tbody>
        </table>
        <div class="am-btn-group am-btn-group-xs">
          <input type="submit"  class="am-btn am-btn-default deleteBtn" value="删除">
        </div>
       <!--  <ul class="am-pagination am-fr">
          <li class="am-disabled"><a href="#">«</a></li>
          <li class="am-active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul> -->
        <hr />
        <p>
        备注：操作图标含义
         <a class="am-text-success am-icon-file" title="添加子栏目"> 添加子栏目</a> 
         <a class="am-icon-pencil-square-o am-text-secondary" title="修改"> 修改栏目</a> 
         <a class="am-icon-trash-o am-text-danger" title="删除"> 删除栏目</a>
         

        
        
        
        
        </p>
      </form>

      <script>
            //删除按钮的确定判定
            $('.deleteBtn').on('click', function() {
              var bool = confirm('确定删除？');

              if (!bool) {
                return false;
              }
            });
            //修改按钮ajax
            $('.modifyBtn').on('click', function(){
              var name = prompt('请输入修改的名字');

              if (name == null  ) {
                return false;
              }
              var id = $(this).attr('data-id');
                $.ajax({
                  url:'__CONTROLLER__/modifyTypeName/id/' + id + '/name/' + name,
                  success:function(data) {
                    if ( data == 1 ) {
                       location.reload();
                    }
                  }
                });
            });
            //全选
            $('#checkBox').on('click', function() {
                 var bool =  $('#checkBox').prop('checked');
                 $('input[type="checkbox"]').prop('checked', bool) ;
            });
          </script>

     
     
</block>